.form
  font-size: $body-text
  line-height: $body-lh
  &__wrapper
    display: grid
    grid-template: repeat(auto-fit, auto) / 1fr
    margin: 0 0 30px 0
    +breakpoint(sm)
      grid-template: repeat(auto-fit, auto) / 1fr 1fr
      grid-column-gap: 30px
      //margin: 0 0 45px 0
  input,select
    &.error
      border-bottom: 1px solid #ff4848
      box-shadow: 0 1px 0 0 #ff4848
      ~ label
        color: #ff4848
        &.error
          transform: scale(.8) translateY(60px)

      &:focus
        border-bottom: 1px solid #ff4848
        box-shadow: 0 1px 0 0 #ff4848
        ~ label
          &.active
            color: #ff4848
          &.error
            //transform: scale(.8) translateY(55px)
  &__btn
    float: right
    svg
      width: 22px!important
      height: 22px!important
  &__captcha
    display: inline-block


  input, textarea
    font-size: $body-text
    line-height: $body-lh
    background-color: transparent!important
    color: #ffffff
    border-bottom: 1px solid $font-color
    height: 3rem
    outline: none
    width: 100%
    margin: 0 0 8px 0
    box-sizing: content-box
    box-shadow: none
    transition: box-shadow .3s, border .3s
    &:focus
      border-bottom: 1px solid $accent-color
      box-shadow: 0 1px 0 0 $accent-color
      + label
        &.active
          color: $accent-color
  label
    font-size: $body-text
    line-height: $body-lh
    position: absolute
    top: 0
    left: 0
    cursor: text
    transform-origin: 0% 100%
    text-align: initial
    transform: translateY(12px)
    transition: transform .2s ease-out, color .2s ease-out
    &.active:not(.error)
      transform: translateY(-14px) scale(0.8)
      transform-origin: 0 0
  textarea.materialize-textarea
    line-height: normal
    overflow-y: hidden
    padding: .8rem 0 .8rem 0
    resize: none
    min-height: 3rem
    box-sizing: border-box
  textarea
    overflow: auto

  input, textarea, select
    font-family: Ubuntu, sans-serif

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus
    border-bottom: 1px solid $accent-color
    -webkit-text-fill-color: $font-color
    -webkit-box-shadow: 0 1px 0 0 $accent-color
    transition: background-color 5000s ease-in-out 0s



.input-field
  position: relative
  margin-top: 1rem
  margin-bottom: 1rem


.hiddendiv
  visibility: hidden
  white-space: pre-wrap
  word-wrap: break-word
  overflow-wrap: break-word
  padding-top: 1.2rem
  position: absolute
  top: 0
  z-index: -1

button, input
  overflow: visible

.select-wrapper
  position: relative
  input.select-dropdown
    position: relative
    cursor: pointer
    background-color: transparent
    border: none
    border-bottom: 1px solid #9e9e9e
    outline: none
    height: 3rem
    line-height: 3rem
    width: 100%
    font-size: 16px
    margin: 0 0 8px 0
    padding: 0
    display: block
    user-select: none
    z-index: 1
    color: $font-color
    &:focus
      border-bottom: 1px solid $accent-color

ul:not(.browser-default)
  padding-left: 0
  list-style-type: none

.dropdown-content
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)
  background-color: $second-color
  margin: 0
  display: none
  min-width: 100px
  overflow-y: auto
  opacity: 0
  position: absolute
  left: 0
  top: 0
  z-index: 9999
  transform-origin: 0 0
  li
    clear: both
    color: rgba(0,0,0,0.87)
    cursor: pointer
    min-height: 50px
    line-height: 1.5rem
    width: 100%
    text-align: left
    &:hover
      background-color: rgba(0, 0, 0, 0.30)

.select-dropdown li.disabled, .select-dropdown li.disabled>span, .select-dropdown li.optgroup
  color: #606060
  background-color: transparent

.select-dropdown.dropdown-content li.selected
  background-color: rgba(0, 0, 0, 0.30)

.select-dropdown

.dropdown-content li>a, .dropdown-content li>span
  font-size: 16px
  color: $font-color2
  display: block
  line-height: 22px
  padding: 14px 16px




.select-wrapper .caret
  position: absolute
  right: 0
  top: 0
  bottom: 0
  margin: auto 0
  z-index: 0
  fill: rgba(0,0,0,0.87)
svg:not(:root)
  overflow: hidden
select
  display: none
  background-color: rgba(255,255,255,0.9)
  width: 100%
  padding: 5px
  border: 1px solid #f2f2f2
  border-radius: 2px
  height: 3rem

.select-wrapper+label
  position: absolute
  top: -26px
  font-size: .8rem