.svg-settings,
.svg-table,
.svg-share,
.svg-calendar,
.svg-safety,
.svg-locate
  width: 25px
  height: 25px
.svg-login,
.svg-logout,
.svg-edit,
.svg-edit-photo,
.svg-search-white,
.svg-search-orange,
.svg-filter-icon
  width: 15px
  height: 15px
.svg-burger
  width: 35px
  height: 35px
.svg-telegram,
.svg-instagram,
.svg-messenger,
.svg-viber,
.svg-whatsapp,
.svg-link-icon
  width: 25px
  height: 25px
.svg-collapse
  width: 20px
  height: 12px
.svg-search,
.svg-registration
  width: 15px
  height: 15px
.svg-prev-slider-course,
.svg-prev-slider-course
  width: 7px
  height: 19px
.svg-table-menu
  width: 6px
  height: 28px
.svg-close-modal
  width: 25px
  height: 25px

.svg-pagination-prev,
.svg-pagination-next
  width: 10px
  height: 14px


