body
  position: relative
  color: $text-color
  font-family: Roboto, sans-serif
  font-size: $text-size
  line-height: $text-lh
  &.lock
    overflow: hidden


.wrapper
  display: flex
  flex-direction: column
  height: 100%

.page
  flex: 1 auto

.container
  max-width: $container
  width: 100%
  margin: 0 auto
  padding: 0 15px


.page-block
  margin: 0 0 $v-step-small 0
  position: relative
  +breakpoint(md)
    margin: 0 0 $v-step-medium 0
  +breakpoint(lg)
    margin: 0 0 $v-step-large 0

.self-block
  padding: $v-step-small 0
  +breakpoint(md)
    padding: $v-step-medium 0
  +breakpoint(lg)
    padding: $v-step-large 0


