.section
  &__wrapper
    position: relative
  &__slider-block
    display: grid
    grid-column-gap: 30px
    grid-template-columns: 1fr
    margin: 0 0 55px 0
    +breakpoint(sm)
      grid-row-gap: 30px
    +breakpoint(md)
      grid-template-columns: 1fr 1fr





.section__slider
  &__item
    position: relative
    cursor: pointer
    z-index: 1
    img
      position: absolute
      object-fit: cover
      width: 100%
      height: 100%
    &.active
      border: 5px solid $accent

.slider-section-single
  .slick-slide
    > div
      line-height: 0
  .section__slider__item
    height: 200px
    +breakpoint(450)
      height: 250px
    +breakpoint(520)
      height: 400px
  .slick-arrow
    position: absolute
    width: 50px
    height: 50px
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1)
    top: calc(50% - 25px)
    transition: all .2s ease-out
    z-index: 1
  .slick-prev
    left: 15px
    background: url("../img/icons-sprite/icons.svg#prev-slider") center / 27px no-repeat #ffff
  .slick-next
    right: 15px
    background: url("../img/icons-sprite/icons.svg#next-slider") center / 27px no-repeat #ffff

.slider-section-nav
  display: none
  visibility: hidden
  margin: 0 -15px
  .slick-slide
    padding: 0 15px
    margin: -15px 0
    > div
      padding: 15px 0
      line-height: 0
  .section__slider__item
    height: 150px
    +breakpoint(md)
      height: 185px
  +breakpoint(sm)
    display: block
    visibility: visible




.description-section





  &__realtor
    order: -1
    padding: 0
    +breakpoint(md)
      padding: 0 0 0 30px
      order: unset


















