aside.sidebar
  position: fixed
  display: flex
  flex-direction: column
  padding: 0 24px 0 0
  +breakpoint(xl)
    position: static
    border-style: solid
    border-width: 1px 6px 1px 1px
    border-image: url('../img/Rectangle.svg') 6 6 6 6 round round