.filter-table
  display: grid
  grid-column-gap: 50px
  grid-row-gap: 20px
  grid-template-columns: minmax(min-content, 1fr)
  align-items: center
  margin: 0 0 35px 0
  +breakpoint(500)
    grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr)
  +breakpoint(860)
    grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, 1fr) minmax(min-content, max-content)
  &__info
    text-transform: uppercase
    color: $dark-blue
  &__label
    margin: 0 7px 0 0
  &__value
    color: $text-color
    font-weight: 700
  &__currency
    order: 1
    +breakpoint(860)
      order: 0










