.btn
  background-color: transparent
  display: inline-flex
  align-items: center
  color: #ffffff
  font-weight: 700
  font-size: $body-text
  line-height: $body-lh
  letter-spacing: 0.15em
  padding: 10px 15px
  border: 2px solid #ffffff
  +breakpoint(md)
    padding: 15px 20px
  +breakpoint(lg)
    &:hover
      svg
        transform: translateX(0)
  &__text
    margin: 0 15px 0 0
    +breakpoint(md)
      margin: 0 25px 0 0
  svg
    transition: all .2s ease-out
    width: 12px
    height: 20px
    +breakpoint(md)
      transform: translateX(-5px)

  &_header
    .btn__text
      display: none
      +breakpoint(sm)
        display: inline
    svg
      display: none
      +breakpoint(sm)
        display: block
      + svg
        display: block
        width: 19px
        height: 23px
        +breakpoint(sm)
          display: none

.btn-wave
  position: relative
  color: #ffffff
  display: inline-flex
  border-radius: 0 0 10px 10px
  transition: all 0.8s ease 0s
  overflow: hidden
  padding: 13px 50px
  letter-spacing: 0.15em
  font-weight: 700
  &:hover
    border-radius: 10px
    transition: all 0.5s ease 0.2s
    .btn-wave__waves
      top: -50px
  &__text
    position: relative
    z-index: 2
  &__waves
    overflow: hidden
    position: absolute
    top: 0
    left: 0
    width: 210px
    height: 210px
    background-color: $accent-color
    box-shadow: inset 0 0 50px rgba(0,0,0,0.5)
    transition: all 0.8s ease 0s
    &:after, &:before
      content: ''
      position: absolute
      top: 0
      left: 50%
      width: 250%
      height: 250%
      transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1)
    &:before
      background-color: transparent
      box-shadow: inset 0 0 10px rgba(0,0,0,0.5)
      border-radius: 48%
      animation: waves 5s infinite linear
    &:after
      background-color: rgba(0,0,0,0.5)
      border-radius: 44%
      animation: waves 10s infinite linear


.title
  text-align: center
  margin: 0 0 70px 0

.link
  letter-spacing: 0.15em
  font-size: $h5-size
  line-height: $h4-lh
  font-weight: 700
  position: relative
  &:after
    content: ''
    position: absolute
    left: 0
    width: 100%
    height: 1px
    background-color: #ffffff
    bottom: 0
    transition: width .2s ease-out
  +breakpoint(lg)
    &:hover
      &:after
        width: 0


.tags
  display: flex
  flex-wrap: wrap
  justify-content: center
  li
    margin: 0 15px 0 0
    &:last-child
      margin: 0
    +breakpoint(md)
      margin: 0 50px 0 0
  &__hash
    color: $accent-color
    font-size: $h3-size
    margin: 0 7px 0 0
    transition: all .2s ease-out
  &__text
    transition: all .2s ease-out
    font-size: $h4-size
    line-height: $h3-lh
    position: relative
    &:after
      content: ''
      position: absolute
      left: 0
      width: 100%
      bottom: 0
      height: 1px
      background-color: #ffffff
      transition: width .2s ease-out
  a
    color: #ffffff
    display: flex
    align-items: center
    +breakpoint(lg)
      &:hover
        .tags__text
          transform: translateX(2px)
          &:after
            width: 0
        .tags__hash
          transform: translateX(-2px)
    &.active
      .tags__text
        &:after
          width: 100%

@keyframes waves
  0%
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1)
  100%
    transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1)