section.developers.page-block
  .developers__container.container
    ul.section__breadcrumbs.breadcrumbs
      li.breadcumbs__item
        a(href='#') Головна
      li.breadcumbs__item
        a(href='#') Забудовники

    .page__title-block
      h1.title Забудовники
      ul.page__menu.visible
        li.visible
          a(href='#').menu-opener
            +icon('settings')
          ul.page__submenu
            li
              a(href='#booking-room').modal-trigger Забронювати галіму квартиру
            li
              a(href='#') Редагувати інформацію
            li
              a(href='#') Редагувати фотогалерею
            li
              a(href='#') Додати звіт
            li.line
              a(href='#') додати підїзд
            li
              a(href='#') показати усім ріелторам
            li.line
              a(href='#') Закрити від усіх ріелторів
            li
              a(href='#').green активувати
            li
              a(href='#').red Деактивувати

    .page__filter
      select(name='devFilter')
        option Обрати фільтр
        option По рейтингу
        option По кількості ЖК
        option Від А до Я
        option Від Я до А


    .developers__body
      .developers__developer.developer.sale
        a(href='#').developer__title.title-3 BAU comfort
        .developer__card.card-developer
          .card-developer__photo
            +image('/developers/bau.png')
          .card-developer__body
            .card-developer__block
              span.card-developer__label Вартість М2 від:
              span.card-developer__value 11 500 грн.
            .card-developer__block
              span.card-developer__label Клас житла:
              span.card-developer__value преміум, комфорт, економ, преміум, комфорт
            .card-developer__block
              span.card-developer__label Квартир в продажі:
              span.card-developer__value 10 000+
        a(href='#').developer__projects Всього ЖК 15

      .developers__developer.developer
        a(href='#').developer__title.title-3 Вертикаль
        .developer__card.card-developer
          .card-developer__photo
            +image('/developers/vert.png')
          .card-developer__body
            .card-developer__block
              span.card-developer__label Вартість М2 від:
              span.card-developer__value 11 500 грн.
            .card-developer__block
              span.card-developer__label Клас житла:
              span.card-developer__value преміум, комфорт
            .card-developer__block
              span.card-developer__label Квартир в продажі:
              span.card-developer__value 10 000+
        a(href='#').developer__projects Всього ЖК 24


      .developers__developer.developer.sale
        a(href='#').developer__title.title-3 МЖК Експрес-24
        .developer__card.card-developer
          .card-developer__photo
            +image('/developers/mjk.jpeg')
          .card-developer__body
            .card-developer__block
              span.card-developer__label Вартість М2 від:
              span.card-developer__value 11 500 грн.
            .card-developer__block
              span.card-developer__label Клас житла:
              span.card-developer__value преміум, комфорт, економ
            .card-developer__block
              span.card-developer__label Квартир в продажі:
              span.card-developer__value 10 000+
        a(href='#').developer__projects Всього ЖК 7


      .developers__developer.developer.sale
        a(href='#').developer__title.title-3 Ярковиця
        .developer__card.card-developer
          .card-developer__photo
            +image('/developers/yark.png')
          .card-developer__body
            .card-developer__block
              span.card-developer__label Вартість М2 від:
              span.card-developer__value 11 500 грн.
            .card-developer__block
              span.card-developer__label Клас житла:
              span.card-developer__value преміум, комфорт
            .card-developer__block
              span.card-developer__label Квартир в продажі:
              span.card-developer__value 10 000+
        a(href='#').developer__projects Всього ЖК 24


      .developers__developer.developer
        a(href='#').developer__title.title-3 Kontilium Group
        .developer__card.card-developer
          .card-developer__photo
            +image('/developers/kontilium.jpeg')
          .card-developer__body
            .card-developer__block
              span.card-developer__label Вартість М2 від:
              span.card-developer__value 11 500 грн.
            .card-developer__block
              span.card-developer__label Клас житла:
              span.card-developer__value преміум, комфорт
            .card-developer__block
              span.card-developer__label Квартир в продажі:
              span.card-developer__value 10 000+
        a(href='#').developer__projects Всього ЖК 24


      .developers__developer.developer
        a(href='#').developer__title.title-3 IF MISKBUD Development IF MISKBUD Development
        .developer__card.card-developer
          .card-developer__photo
            +image('/developers/misk.jpeg')
          .card-developer__body
            .card-developer__block
              span.card-developer__label Вартість М2 від:
              span.card-developer__value 11 500 грн.
            .card-developer__block
              span.card-developer__label Клас житла:
              span.card-developer__value преміум, комфорт
            .card-developer__block
              span.card-developer__label Квартир в продажі:
              span.card-developer__value 10 000+
        a(href='#').developer__projects Всього ЖК 24


      .developers__developer.developer
        a(href='#').developer__title.title-3 Lake Club
        .developer__card.card-developer
          .card-developer__photo
            +image('/developers/lake-club.jpeg')
          .card-developer__body
            .card-developer__block
              span.card-developer__label Вартість М2 від:
              span.card-developer__value 11 500 грн.
            .card-developer__block
              span.card-developer__label Клас житла:
              span.card-developer__value преміум, комфорт
            .card-developer__block
              span.card-developer__label Квартир в продажі:
              span.card-developer__value 10 000+
        a(href='#').developer__projects Всього ЖК 24

      .developers__developer.developer
        a(href='#').developer__title.title-3 Kontilium Group
        .developer__card.card-developer
          .card-developer__photo
            +image('/developers/kontilium.jpeg')
          .card-developer__body
            .card-developer__block
              span.card-developer__label Вартість М2 від:
              span.card-developer__value 11 500 грн.
            .card-developer__block
              span.card-developer__label Клас житла:
              span.card-developer__value преміум, комфорт
            .card-developer__block
              span.card-developer__label Квартир в продажі:
              span.card-developer__value 10 000+
        a(href='#').developer__projects Всього ЖК 24

      .developers__developer.developer
        a(href='#').developer__title.title-3 МЖК Експрес-24
        .developer__card.card-developer
          .card-developer__photo
            +image('/developers/mjk.jpeg')
          .card-developer__body
            .card-developer__block
              span.card-developer__label Вартість М2 від:
              span.card-developer__value 11 500 грн.
            .card-developer__block
              span.card-developer__label Клас житла:
              span.card-developer__value преміум, комфорт, економ
            .card-developer__block
              span.card-developer__label Квартир в продажі:
              span.card-developer__value 10 000+
        a(href='#').developer__projects Всього ЖК 7


      .developers__developer.developer
        a(href='#').developer__title.title-3 Ярковиця
        .developer__card.card-developer
          .card-developer__photo
            +image('/developers/yark.png')
          .card-developer__body
            .card-developer__block
              span.card-developer__label Вартість М2 від:
              span.card-developer__value 11 500 грн.
            .card-developer__block
              span.card-developer__label Клас житла:
              span.card-developer__value преміум, комфорт
            .card-developer__block
              span.card-developer__label Квартир в продажі:
              span.card-developer__value 10 000+
        a(href='#').developer__projects Всього ЖК 24

      .developers__developer.developer
        a(href='#').developer__title.title-3 Kontilium Group
        .developer__card.card-developer
          .card-developer__photo
            +image('/developers/kontilium.jpeg')
          .card-developer__body
            .card-developer__block
              span.card-developer__label Вартість М2 від:
              span.card-developer__value 11 500 грн.
            .card-developer__block
              span.card-developer__label Клас житла:
              span.card-developer__value преміум, комфорт
            .card-developer__block
              span.card-developer__label Квартир в продажі:
              span.card-developer__value 10 000+
        a(href='#').developer__projects Всього ЖК 24

      .developers__developer.developer
        a(href='#').developer__title.title-3 Lake Club
        .developer__card.card-developer
          .card-developer__photo
            +image('/developers/lake-club.jpeg')
          .card-developer__body
            .card-developer__block
              span.card-developer__label Вартість М2 від:
              span.card-developer__value 11 500 грн.
            .card-developer__block
              span.card-developer__label Клас житла:
              span.card-developer__value преміум, комфорт
            .card-developer__block
              span.card-developer__label Квартир в продажі:
              span.card-developer__value 10 000+
        a(href='#').developer__projects Всього ЖК 24

    .pagination-wrapper
      ul.search-content__pagination.pagination
        li.disabled
          a(href='#!')
            +icon('pagination-prev')
        li.active
          a(href='#!') 1
        li.waves-effect
          a(href='#!') 2
        li.waves-effect
          a(href='#!') 3
        li.waves-effect
          a(href='#!') 4
        li.waves-effect
          a(href='#!') 5

        li.waves-effect
          a(href='#!')
            +icon('pagination-next')