section.developer-single
  .developer-single__container.container
    ul.developer-single__breadcrumbs.breadcrumbs
      li.breadcumbs__item
        a(href='#') Головна
      li.breadcumbs__item
        a(href='#') Забудовники
      li.breadcumbs__item
        a(href='#') BAU comfort
    .page__title-block
      h1.title BAU comfort
      ul.page__menu.visible
        li.visible
          a(href='#').menu-opener
            +icon('settings')
          ul.page__submenu
            li
              a(href='#booking-room').modal-trigger Забронювати галіму квартиру
            li
              a(href='#') Редагувати інформацію
            li
              a(href='#') Редагувати фотогалерею
            li
              a(href='#') Додати звіт
            li.line
              a(href='#') додати підїзд
            li
              a(href='#') показати усім ріелторам
            li.line
              a(href='#') Закрити від усіх ріелторів
            li
              a(href='#').green активувати
            li
              a(href='#').red Деактивувати
        li.visible
          a(href='#').menu-opener
            +icon('share')
          ul.page__submenu
            li
              span Поділитися
              .page__social
                a(href='#')
                  +icon('telegram')
                a(href='#')
                  +icon('viber')
                a(href='#')
                  +icon('whatsapp')
                a(href='#')
                  +icon('messenger')
                a(href='#')
                  +icon('link-icon')

          li.visible
            a(href='#').menu-opener
              +icon('info-icon')
            ul.page__submenu
              .page__info
                li
                  p
                    span Всього івентів:
                    span 188
                li
                  p
                    span Покази:
                    span 75
                li
                  p
                    span Броні:
                    span 95
                li
                  p
                    span Завдатки:
                    span 8
                li
                  p
                    span Покупки:
                    span 75



  .developer-single__description.page-description.page-block
    .developer-single__container.container
      .page-description__body
        .developer-single__content.collapse__content
          p Життя в містечку «Липки» - це розумний вибір людей, які знаються на перевагах міського життя поблизу затишних місць відпочинку. Чудове розташування, розвинена інфраструктура, раціональне планування помешкань, підземний паркінг та безумовна надійність забудовника – в поєднанні з вигідною ціною – робить цей вибір по-справжньому вдалим. Місце, де зручно мешкати і відпочивати. Парк з підсвіткою – для тих, хто любить безпечні нічні прогулянки. Бато паркомісць, охорона та відеонагляд: безпека – понад усе! Авто у безпеці, а діти в першу чергу. Велика увага у містечку «Липки» приділена плануванню всіх без винятку житлових та комерційних приміщень. Тут нема зайвих квадратних метрів – натомість у кожній квартирі створено достатній життєвий простір і багато світла. Використання сучасних матеріалів забезпечують не лише комфорт та затишок, але й роблять проживання здоровим та емоційно приємним. Все продумано. Все раціонально.  Життя в містечку «Липки» - це розумний вибір людей, які знаються на перевагах міського життя поблизу затишних місць відпочинку. Чудове розташування, розвинена інфраструктура, раціональне планування помешкань, підземний паркінг та безумовна надійність забудовника – в поєднанні з вигідною ціною – робить цей вибір по-справжньому вдалим. Місце, де зручно мешкати і відпочивати. Парк з підсвіткою – для тих, хто любить безпечні нічні прогулянки. Бато паркомісць, охорона та відеонагляд: безпека – понад усе! Авто у безпеці, а діти в першу чергу. Велика увага у містечку «Липки» приділена плануванню всіх без винятку житлових та комерційних приміщень. Тут нема зайвих квадратних метрів – натомість у кожній квартирі створено достатній життєвий простір і багато світла. Використання сучасних матеріалів забезпечують не лише комфорт та затишок, але й роблять проживання здоровим та емоційно приємним. Все продумано. Все раціонально.
          p За цей період було успішно зведено ряд об’єктів нерухомості в Івано-Франківську, а саме будинки на вулицях: Незалежності, 65; Гаркуші, 24, 35, 36; Хіміків, 17 б, 17 в; Угорницькій, 16 і 10 а, Галицькій 112 в, Чорновола 128 а, Новгородська 49, Ленківська 16, Кривоноса 5 а, Польова 4 а (Офісно-складські приміщення), Макогона 31 а, Максимовича 13, смт. Богородчани, вул. Петраша 2. Крім того на даний момент в процесі завершення будівництва знаходяться будинки на вулицях: Галицька, 98 та 112 д, 112г, 94; Шевченка, 47 а; Коновальця, 124 а, 260, 264 а та інші новобудови.Галицька, 98 та 112 д, 112г, 94;  Галицька, 98 та 112 д, 112г, 94; Галицька, 98 та 112 д, 112г, 94;
          .collapse__btn
            +icon('collapse')

        .developer-single__info.info-developer
          .info-developer__photo
            +image('/developers/bau.png')
          .info-developer__contacts
            .info-developer__block
              .info-developer__icon
                +icon('user-icon')
              .info-developer__wrapper
                .info-developer__value
                  span Роман Сурмачевський
                .info-developer__label
                  span Відділа продажу

            .info-developer__block
              .info-developer__icon
                +icon('phone-icon')
              .info-developer__wrapper
                .info-developer__value
                  span 0669151758
                .info-developer__label
                  span Контактний номер


  section.developer-single__active-buildings.active-buildings.page-block
    .active-buildings__container.container
      .active-buildings__title.title-2 Всі новобудови BAU comfort
      .active-buildings__body
        .active-buildings__card.card-complex
          .card-complex__photo
            +image('complexes/lypky.jpeg')
          .card-complex__content
            span.card-complex__adress вул. Короля Данила 105А
            a(href='#').card-complex__name
              h3.title-3 Містечко Липки
            .card-complex__block
              .card-complex__icon
                +icon('price-icon-2')
              .card-complex__info
                .card-complex__value
                  span.black 1500
                  span UAH
                .card-complex__label
                  span Ціна від, м2
            .card-complex__block
              .card-complex__icon
                +icon('free-icon')
              .card-complex__info
                .card-complex__value
                  span.black 500+
                .card-complex__label
                  span Вільні квартири
            .card-complex__block
              .card-complex__icon
                +icon('dead-line-icon')
              .card-complex__info
                .card-complex__value
                  span.black IV квартал 2020 року
                .card-complex__label
                  span Запланована здача

        .complexes__card.card-complex
          .card-complex__photo
            +image('complexes/milenium.jpeg')
          .card-complex__content
            span.card-complex__adress вул. Мазепи, 168
            a(href='#').card-complex__name
              h3.title-3 Millenium
            .card-complex__block
              .card-complex__icon
                +icon('price-icon-2')
              .card-complex__info
                .card-complex__value
                  span.black 1500
                  span UAH
                .card-complex__label
                  span Ціна від, м2
            .card-complex__block
              .card-complex__icon
                +icon('free-icon')
              .card-complex__info
                .card-complex__value
                  span.black 500+
                .card-complex__label
                  span Вільні квартири
            .card-complex__block
              .card-complex__icon
                +icon('dead-line-icon')
              .card-complex__info
                .card-complex__value
                  span.black IV квартал 2020 року
                .card-complex__label
                  span Запланована здача

        .complexes__card.card-complex
          .card-complex__photo
            +image('complexes/hydro-park.jpeg')
          .card-complex__content
            span.card-complex__adress вул. Евгена Коновальця 36А
            a(href='#').card-complex__name
              h3.title-3 HydroPark DeLuxe
            .card-complex__block
              .card-complex__icon
                +icon('price-icon-2')
              .card-complex__info
                .card-complex__value
                  span.black 1500
                  span UAH
                .card-complex__label
                  span Ціна від, м2
            .card-complex__block
              .card-complex__icon
                +icon('free-icon')
              .card-complex__info
                .card-complex__value
                  span.black 500+
                .card-complex__label
                  span Вільні квартири
            .card-complex__block
              .card-complex__icon
                +icon('dead-line-icon')
              .card-complex__info
                .card-complex__value
                  span.black IV квартал 2020 року
                .card-complex__label
                  span Запланована здача

        .complexes__card.card-complex
          .card-complex__photo
            +image('complexes/sttk.png')
          .card-complex__content
            span.card-complex__adress вул. Короля Данила 105А
            a(href='#').card-complex__name
              h3.title-3 SHEVCHENKO STREET . 52
            .card-complex__block
              .card-complex__icon
                +icon('price-icon-2')
              .card-complex__info
                .card-complex__value
                  span.black 1500
                  span UAH
                .card-complex__label
                  span Ціна від, м2
            .card-complex__block
              .card-complex__icon
                +icon('free-icon')
              .card-complex__info
                .card-complex__value
                  span.black 500+
                .card-complex__label
                  span Вільні квартири
            .card-complex__block
              .card-complex__icon
                +icon('dead-line-icon')
              .card-complex__info
                .card-complex__value
                  span.black IV квартал 2020 року
                .card-complex__label
                  span Запланована здача




  section.developer-single__unactive-buildings.unactive-buildings.page-block
    .unactive-buildings__container.container
      .unactive-buildings__title.title-2 Неактивні новобудови IF MISKBUD Development
      .unactive-buildings__body
        .active-buildings__card.card-complex
          .card-complex__photo
            +image('complexes/lypky.jpeg')
          .card-complex__content
            a(href='#').card-complex__name
              h3.title-3 Містечко Липки


        .complexes__card.card-complex
          .card-complex__photo
            +image('complexes/milenium.jpeg')
          .card-complex__content
            a(href='#').card-complex__name
              h3.title-3 Millenium


        .complexes__card.card-complex
          .card-complex__photo
            +image('complexes/hydro-park.jpeg')
          .card-complex__content
            a(href='#').card-complex__name
              h3.title-3 HydroPark DeLuxe


        .complexes__card.card-complex
          .card-complex__photo
            +image('complexes/sttk.png')
          .card-complex__content
            a(href='#').card-complex__name
              h3.title-3 SHEVCHENKO STREET . 52



  section.developer-single__active-queues.queues-dev.page-block
    .active-queues__container.container
      .queues-dev__title.title-2 Активні черги
      .queues-dev__body

        .queues-dev__card.card-queues-dev
          .card-queues-dev__photo
            +image('/queues/01.jpg')
          .card-queues-dev__content
            .card-queues-dev__label
              a(href='#') Містечко Паркове ІV черга (Блоки корпуса перед Паркова Алея А,Б,В,Г,Д,Е,Ж,К,Л)

        .queues-dev__card.card-queues-dev
          .card-queues-dev__photo
            +image('/queues/02.jpg')
          .card-queues-dev__content
            .card-queues-dev__label
              a(href='#') Містечко Паркове ІV черга (Блоки А,Б,В,Г,Д,Е,Ж,К,Л)


        .queues-dev__card.card-queues-dev
          .card-queues-dev__photo
            +image('/queues/03.jpg')
          .card-queues-dev__content
            .card-queues-dev__label
              a(href='#') Millenium Черга 1 (будинок 7)


        .queues-dev__card.card-queues-dev
          .card-queues-dev__photo
            +image('/queues/01.jpg')
          .card-queues-dev__content
            .card-queues-dev__label
              a(href='#') Містечко Паркове ІV черга (Блоки корпуса перед Паркова Алея А,Б,В,Г,Д,Е,Ж,К,Л)

        .queues-dev__card.card-queues-dev
          .card-queues-dev__photo
            +image('/queues/02.jpg')
          .card-queues-dev__content
            .card-queues-dev__label
              a(href='#') Містечко Паркове ІV черга (Блоки А,Б,В,Г,Д,Е,Ж,К,Л)


        .queues-dev__card.card-queues-dev
          .card-queues-dev__photo
            +image('/queues/03.jpg')
          .card-queues-dev__content
            .card-queues-dev__label
              a(href='#') Millenium Черга 1 (будинок 7)


        .queues-dev__card.card-queues-dev
          .card-queues-dev__photo
            +image('/queues/01.jpg')
          .card-queues-dev__content
            .card-queues-dev__label
              a(href='#') Містечко Паркове ІV черга (Блоки корпуса перед Паркова Алея А,Б,В,Г,Д,Е,Ж,К,Л)

        .queues-dev__card.card-queues-dev
          .card-queues-dev__photo
            +image('/queues/02.jpg')
          .card-queues-dev__content
            .card-queues-dev__label
              a(href='#') Містечко Паркове ІV черга (Блоки А,Б,В,Г,Д,Е,Ж,К,Л)


        .queues-dev__card.card-queues-dev
          .card-queues-dev__photo
            +image('/queues/03.jpg')
          .card-queues-dev__content
            .card-queues-dev__label
              a(href='#') Millenium Черга 1 (будинок 7)



  section.developer-single__unactive-queues.queues-dev.page-block
    .queues-dev__container.container
      .queues-dev__title.title-2 Неактивні черги
      .queues-dev__body
        .queues-dev__card.card-queues-dev
          .card-queues-dev__photo
            +image('/queues/01.jpg')
          .card-queues-dev__content
            .card-queues-dev__label
              a(href='#') Містечко Паркове ІV черга (Блоки корпуса перед Паркова Алея А,Б,В,Г,Д,Е,Ж,К,Л)

        .queues-dev__card.card-queues-dev
          .card-queues-dev__photo
            +image('/queues/02.jpg')
          .card-queues-dev__content
            .card-queues-dev__label
              a(href='#') Містечко Паркове ІV черга (Блоки А,Б,В,Г,Д,Е,Ж,К,Л)


        .queues-dev__card.card-queues-dev
          .card-queues-dev__photo
            +image('/queues/03.jpg')
          .card-queues-dev__content
            .card-queues-dev__label
              a(href='#') Millenium Черга 1 (будинок 7)


        .queues-dev__card.card-queues-dev
          .card-queues-dev__photo
            +image('/queues/01.jpg')
          .card-queues-dev__content
            .card-queues-dev__label
              a(href='#') Містечко Паркове ІV черга (Блоки корпуса перед Паркова Алея А,Б,В,Г,Д,Е,Ж,К,Л)

        .queues-dev__card.card-queues-dev
          .card-queues-dev__photo
            +image('/queues/02.jpg')
          .card-queues-dev__content
            .card-queues-dev__label
              a(href='#') Містечко Паркове ІV черга (Блоки А,Б,В,Г,Д,Е,Ж,К,Л)


        .queues-dev__card.card-queues-dev
          .card-queues-dev__photo
            +image('/queues/03.jpg')
          .card-queues-dev__content
            .card-queues-dev__label
              a(href='#') Millenium Черга 1 (будинок 7)


        .queues-dev__card.card-queues-dev
          .card-queues-dev__photo
            +image('/queues/01.jpg')
          .card-queues-dev__content
            .card-queues-dev__label
              a(href='#') Містечко Паркове ІV черга (Блоки корпуса перед Паркова Алея А,Б,В,Г,Д,Е,Ж,К,Л)

        .queues-dev__card.card-queues-dev
          .card-queues-dev__photo
            +image('/queues/02.jpg')
          .card-queues-dev__content
            .card-queues-dev__label
              a(href='#') Містечко Паркове ІV черга (Блоки А,Б,В,Г,Д,Е,Ж,К,Л)


        .queues-dev__card.card-queues-dev
          .card-queues-dev__photo
            +image('/queues/03.jpg')
          .card-queues-dev__content
            .card-queues-dev__label
              a(href='#') Millenium Черга 1 (будинок 7)

