section.filter
  h2.sidebar__title.title-2 Фільтр
  form#filter-form-aside
    .filter__block
      h4.filter__title.title-4 Район
      .filter__body
        label.input-checkbox
          input(type='checkbox' name='neighbourhood' value='Центр')
          span Центр
        label.input-checkbox
          input(type='checkbox' name='neighbourhood' value='Бам')
          span Бам
        label.input-checkbox
          input(type='checkbox' name='neighbourhood' value='Брати')
          span Брати
        label.input-checkbox
          input(type='checkbox' name='neighbourhood' value='Вовчинецька')
          span Вовчинецька
        label.input-checkbox
          input(type='checkbox' name='neighbourhood' value='Пасічна')
          span Пасічна
        label.input-checkbox
          input(type='checkbox' name='neighbourhood' value='Майзлі')
          span Майзлі
        label.input-checkbox
          input(type='checkbox' name='neighbourhood' value='Бам')
          span Бам
        label.input-checkbox
          input(type='checkbox' name='neighbourhood' value='Центр')
          span Центр
        label.input-checkbox
          input(type='checkbox' name='neighbourhood' value='Пасічна')
          span Пасічна
        label.input-checkbox
          input(type='checkbox' name='neighbourhood' value='Мілленіум')
          span Мілленіум
        label.input-checkbox
          input(type='checkbox' name='neighbourhood' value='Вовчинецька')
          span Вовчинецька

      .filter__control
        a(href='#').select-all.link.green Обрати всі
        a(href='#').reset-all.link.red Скинути

    .filter__block
      h4.filter__title.title-4 Забудовник
      .filter__body
        label.input-checkbox
          input(type='checkbox' name='developer' value='Kontilium Group')
          span Kontilium Group
        label.input-checkbox
          input(type='checkbox' name='developer' value='M GROUP DEVELOPMENT')
          span M GROUP DEVELOPMENT
        label.input-checkbox
          input(type='checkbox' name='developer' value='Вертикаль')
          span Вертикаль
        label.input-checkbox
          input(type='checkbox' name='developer' value='sttk development')
          span sttk development
        label.input-checkbox
          input(type='checkbox' name='developer' value='blago developer')
          span blago developer
        label.input-checkbox
          input(type='checkbox' name='developer' value='Вамбуд')
          span Вамбуд
        label.input-checkbox
          input(type='checkbox' name='developer' value='Kontilium Group')
          span Kontilium Group
        label.input-checkbox
          input(type='checkbox' name='developer' value='Вертикаль')
          span Вертикаль
        label.input-checkbox
          input(type='checkbox' name='developer' value='blago developer')
          span blago developer
        label.input-checkbox
          input(type='checkbox' name='developer' value='M GROUP DEVELOPMENT')
          span M GROUP DEVELOPMENT
        label.input-checkbox
          input(type='checkbox' name='developer' value='Kontilium Group')
          span Kontilium Group

      .filter__control
        a(href='#').select-all.link.green Обрати всі
        a(href='#').reset-all.link.red Скинути

    .filter__block
      h4.filter__title.title-4 Термін здачі
      .filter__body
        label.input-checkbox
          input(type='checkbox' name='deadline' value='до 2020 (I квартал)')
          span до 2020 (I квартал)
        label.input-checkbox
          input(type='checkbox' name='deadline' value='до 2021 (III квартал)')
          span до 2021 (III квартал)
        label.input-checkbox
          input(type='checkbox' name='deadline' value='до 2021 (III квартал)')
          span до 2021 (III квартал)
        label.input-checkbox
          input(type='checkbox' name='deadline' value='до 2021 (III квартал)')
          span до 2020 (I квартал)
        label.input-checkbox
          input(type='checkbox' name='deadline' value='до 2020 (I квартал)')
          span до 2020 (I квартал)
        label.input-checkbox
          input(type='checkbox' name='deadline' value='до 2020 (I квартал)')
          span до 2020 (I квартал)
        label.input-checkbox
          input(type='checkbox' name='deadline' value='до 2021 (III квартал)')
          span до 2021 (III квартал)
        label.input-checkbox
          input(type='checkbox' name='deadline' value='до 2021 (III квартал)')
          span до 2021 (III квартал)
        label.input-checkbox
          input(type='checkbox' name='deadline' value='до 2021 (III квартал)')
          span до 2021 (III квартал)
        label.input-checkbox
          input(type='checkbox' name='deadline' value='до 2020 (I квартал)T')
          span до 2020 (I квартал)
        label.input-checkbox
          input(type='checkbox' name='deadline' value='до 2021 (III квартал)')
          span до 2021 (III квартал)

      .filter__control
        a(href='#').select-all.link.green Обрати всі
        a(href='#').reset-all.link.red Скинути

    button(type='submit').button-3
      span Фільтрувати
      +icon('search-white')