section.flat-content
  a(href='#').flat-content__button.sidebar-show-btn.button
    span ФіЛЬТР
    +icon('filter-icon')



  .flat-content__title.title-2 Активні квартири
  .flat-content__block
    .card-search
      .card-search__content
        a(href='#').card-search__title МістечкоЛипкиМістечкоЛипки Містечко Липки
        .card-search__info
          .card-search__block
            .card-search__value
              span 2к
            .card-search__label
              span Кімнат
          .card-search__block
            .card-search__value
              span 71,10
              span м2
            .card-search__label
              span Площа
          .card-search__block
            .card-search__value
              span 11
            .card-search__label
              span Поверх
          .card-search__block
            .card-search__value
              span 100 000 000
              span usd
            .card-search__label
              span Ціна
      .card-search__photo
        div.item-gallery(data-src='../img/plans/01.jpeg' data-sub-html='text')
          +image('../img/plans/01.jpeg')


    .card-search
      .card-search__content
        a(href='#').card-search__title SHEVCHENKO STREET . 52
        .card-search__info
          .card-search__block
            .card-search__value
              span 2к
            .card-search__label
              span Кімнат
          .card-search__block
            .card-search__value
              span 71,10
              span м2
            .card-search__label
              span Площа
          .card-search__block
            .card-search__value
              span 11
            .card-search__label
              span Поверх
          .card-search__block
            .card-search__value
              span 100 000 000
              span usd
            .card-search__label
              span Ціна
      .card-search__photo
        div.item-gallery(data-src='../img/plans/01.jpeg' data-sub-html='text')
          +image('../img/plans/01.jpeg')


    .card-search
      .card-search__content
        a(href='#').card-search__title Житловий комплекс Sttk#3
        .card-search__info
          .card-search__block
            .card-search__value
              span 2к
            .card-search__label
              span Кімнат
          .card-search__block
            .card-search__value
              span 71,10
              span м2
            .card-search__label
              span Площа
          .card-search__block
            .card-search__value
              span 11
            .card-search__label
              span Поверх
          .card-search__block
            .card-search__value
              span 100 000 000
              span usd
            .card-search__label
              span Ціна
      .card-search__photo
        div.item-gallery(data-src='../img/plans/01.jpeg' data-sub-html='text')
          +image('../img/plans/01.jpeg')


    .card-search
      .card-search__content
        a(href='#').card-search__title Житловий комплекс Sttk#3
        .card-search__info
          .card-search__block
            .card-search__value
              span 2к
            .card-search__label
              span Кімнат
          .card-search__block
            .card-search__value
              span 71,10
              span м2
            .card-search__label
              span Площа
          .card-search__block
            .card-search__value
              span 11
            .card-search__label
              span Поверх
          .card-search__block
            .card-search__value
              span 100 000 000
              span usd
            .card-search__label
              span Ціна
      .card-search__photo
        div.item-gallery(data-src='../img/plans/01.jpeg' data-sub-html='text')
          +image('../img/plans/01.jpeg')


    .card-search
      .card-search__content
        a(href='#').card-search__title Житловий комплекс Sttk#3
        .card-search__info
          .card-search__block
            .card-search__value
              span 2к
            .card-search__label
              span Кімнат
          .card-search__block
            .card-search__value
              span 71,10
              span м2
            .card-search__label
              span Площа
          .card-search__block
            .card-search__value
              span 11
            .card-search__label
              span Поверх
          .card-search__block
            .card-search__value
              span 100 000 000
              span usd
            .card-search__label
              span Ціна
      .card-search__photo
        div.item-gallery(data-src='../img/plans/01.jpeg' data-sub-html='text')
          +image('../img/plans/01.jpeg')


    .card-search
      .card-search__content
        a(href='#').card-search__title Житловий комплекс Sttk#3
        .card-search__info
          .card-search__block
            .card-search__value
              span 2к
            .card-search__label
              span Кімнат
          .card-search__block
            .card-search__value
              span 71,10
              span м2
            .card-search__label
              span Площа
          .card-search__block
            .card-search__value
              span 11
            .card-search__label
              span Поверх
          .card-search__block
            .card-search__value
              span 100 000 000
              span usd
            .card-search__label
              span Ціна
      .card-search__photo
        div.item-gallery(data-src='../img/plans/01.jpeg' data-sub-html='text')
          +image('../img/plans/01.jpeg')





  .flat-content__title.title-2 Архівні квартири
  .flat-content__block
    .card-search.card-search_unactive
      .card-search__content
        a(href='#').card-search__title МістечкоЛипкиМістечкоЛипки Містечко Липки
        .card-search__info
          .card-search__block
            .card-search__value
              span 2к
            .card-search__label
              span Кімнат
          .card-search__block
            .card-search__value
              span 71,10
              span м2
            .card-search__label
              span Площа
          .card-search__block
            .card-search__value
              span 11
            .card-search__label
              span Поверх
          .card-search__block
            .card-search__value
              span 100 000 000
              span usd
            .card-search__label
              span Ціна
      .card-search__photo
        div.item-gallery(data-src='../img/plans/01.jpeg' data-sub-html='text')
          +image('../img/plans/01.jpeg')


    .card-search.card-search_unactive
      .card-search__content
        a(href='#').card-search__title SHEVCHENKO STREET . 52
        .card-search__info
          .card-search__block
            .card-search__value
              span 2к
            .card-search__label
              span Кімнат
          .card-search__block
            .card-search__value
              span 71,10
              span м2
            .card-search__label
              span Площа
          .card-search__block
            .card-search__value
              span 11
            .card-search__label
              span Поверх
          .card-search__block
            .card-search__value
              span 100 000 000
              span usd
            .card-search__label
              span Ціна
      .card-search__photo
        div.item-gallery(data-src='../img/plans/01.jpeg' data-sub-html='text')
          +image('../img/plans/01.jpeg')


    .card-search.card-search_unactive
      .card-search__content
        a(href='#').card-search__title Житловий комплекс Sttk#3
        .card-search__info
          .card-search__block
            .card-search__value
              span 2к
            .card-search__label
              span Кімнат
          .card-search__block
            .card-search__value
              span 71,10
              span м2
            .card-search__label
              span Площа
          .card-search__block
            .card-search__value
              span 11
            .card-search__label
              span Поверх
          .card-search__block
            .card-search__value
              span 100 000 000
              span usd
            .card-search__label
              span Ціна
      .card-search__photo
        div.item-gallery(data-src='../img/plans/01.jpeg' data-sub-html='text')
          +image('../img/plans/01.jpeg')


    .card-search.card-search_unactive
      .card-search__content
        a(href='#').card-search__title Житловий комплекс Sttk#3
        .card-search__info
          .card-search__block
            .card-search__value
              span 2к
            .card-search__label
              span Кімнат
          .card-search__block
            .card-search__value
              span 71,10
              span м2
            .card-search__label
              span Площа
          .card-search__block
            .card-search__value
              span 11
            .card-search__label
              span Поверх
          .card-search__block
            .card-search__value
              span 100 000 000
              span usd
            .card-search__label
              span Ціна
      .card-search__photo
        div.item-gallery(data-src='../img/plans/01.jpeg' data-sub-html='text')
          +image('../img/plans/01.jpeg')




  .pagination-wrapper
    ul.search-content__pagination.pagination
      li.disabled
        a(href='#!')
          +icon('pagination-prev')
      li.active
        a(href='#!') 1
      li.waves-effect
        a(href='#!') 2
      li.waves-effect
        a(href='#!') 3
      li.waves-effect
        a(href='#!') 4
      li.waves-effect
        a(href='#!') 5

      li.waves-effect
        a(href='#!')
          +icon('pagination-next')
