section.flat.page-block
  .flat__container.container
    ul.flat__breadcrumbs.breadcrumbs
      li.breadcumbs__item
        a(href='#') Головна
      li.breadcumbs__item
        a(href='#') Забудовники
      li.breadcumbs__item
        a(href='#') Ярковиця
      li.breadcumbs__item
        a(href='#') Містечко Липки Секція І
    .page__title-block
      h1.title 2 к. 61.70 м2 10-й поверх, 2-й підїзд
      ul.page__menu.visible
        li.visible
          a(href='#').menu-opener
            +icon('settings')
          ul.page__submenu
            li
              a(href='#booking-room').modal-trigger Забронювати галіму квартиру
            li
              a(href='#') Редагувати інформацію
            li
              a(href='#') Редагувати фотогалерею
            li
              a(href='#') Додати звіт
            li.line
              a(href='#') додати підїзд
            li
              a(href='#') показати усім ріелторам
            li.line
              a(href='#') Закрити від усіх ріелторів
            li
              a(href='#').green активувати
            li
              a(href='#').red Деактивувати
        li.visible
          a(href='#').menu-opener
            +icon('share')
          ul.page__submenu
            li
              span Поділитися
              .page__social
                a(href='#')
                  +icon('telegram')
                a(href='#')
                  +icon('viber')
                a(href='#')
                  +icon('whatsapp')
                a(href='#')
                  +icon('messenger')
                a(href='#')
                  +icon('link-icon')