footer.footer
  .footer__container.container
    .footer__wrapper
      .footer__block.anim-item.anim-no-hide.anim-show-from-left
        a(href='/').footer__logo
          +image('logo.svg')
        p.footer__desc.text-size-5 Розробка та впровадження IT-рішень для вашого бізнесу
        .footer__social
          a(href='#')
            +icon('instagram-footer')
          a(href='#')
            +icon('facebook-footer')
      .footer__block.anim-item.anim-no-hide.anim-show-from-left.anim-show-from-left_2
        h4.footer__title Контакти
        .footer__contact-block
          .footer__icon
            +icon('phone-footer')
          p
            a(href='tel:050050054') +38 (067) 757 77 77
            a(href='tel:050050054') +38 (067) 757 77 77
        .footer__contact-block
          .footer__icon
            +icon('email-footer')
          p
            a(href='mailto:d.wave@gmail.com') d.wave@gmail.com
      .footer__block.anim-item.anim-no-hide.anim-show-from-left.anim-show-from-left_3
        h4.footer__title Месенджери
        .footer__contact-block
          .footer__icon
            +icon('wapp-footer')
          p
            a(href='#') +38 (067) 757 77 77
        .footer__contact-block
          .footer__icon
            +icon('telegram-footer')
          p
            a(href='#') @dwave_space
        .footer__contact-block
          .footer__icon
            +icon('viber-footer')
          p
            a(href='#') +38 (067) 757 77 77
        .footer__contact-block
          .footer__icon
            +icon('messenger-footer')
          p
            a(href='#') @dwave_space
      .footer__block.anim-item.anim-no-hide.anim-show-from-left.anim-show-from-left_4
        h4.footer__title Навігація
        ul
          li
            a(href='#') Головна
          li
            a(href='/portfolio.html') Портфоліо
          li
            a(href='#') Про нас
          li
            a(href='#') Контакти






  .footer__copyright.copyright.anim-item.anim-no-hide.anim-show-from-bottom
    .copyright__container
      .copyright__main