footer.footer
  .footer__container.container
    .footer__body
      .footer__header
        .footer__logo
          +image('../img/Logo-footer.svg')
        nav.footer__menu
          ul
            li
      .footer__copyrught
