// $$ You can add class login to header
header.header.page-block

  .header__container.container
    .header__body
      a(href='/').header__logo
        +image('Logo.svg')
      nav.header__menu
        ul
          li
            a(href='#') Забудовники
          li
            a(href='#') Про нас
          li
            a(href='#') Житлові комплекси
        a(href='#login-block').header__login.button.modal-trigger
          span Увійти
          +icon('login')
        ul.header__logout
          li
            a(href='#').menu-opener
              +image('rieltors/01.png')
            ul.header__logout-submenu
              li
                a(href='#') Редагувати профіль
              li
                a(href='#') Вийти

      a(href='#search-block').header__search.button.modal-trigger
        span Пошук
        +icon('search')
      .header__burger
        +icon('burger')



#login-block.login-block.modal.modal_small
  a(href='#!').modal-close.close-window
    +icon('close-modal')
  .modal__container.container
    ul.tabs
      li.tab
        a(href='#registration').active Реєстрація для ріелтора
      li.tab
        a(href='#login-tab') Вхід

    #registration
      form.form#registration-form
        .form__wrapper
          p
            label.label
              span Елекстронна пошта:
              input(type='text' name='SignupForm[email]').input
          p
            label.label
              span Повне ім’я та прізвище:
              input(type='text' name='SignupForm[r_name]').input
          p
            label.label
              span Номер телефону:
              input(type='text' name='SignupForm[phone]' placeholder='+38 (0--)').input.input-full-phone
          p
            label.label
              span Пароль:
              input(type='password' name='SignupForm[password]').input
        button(type='submit').button.booking-room__btn
          span Зареєструватись
          +icon('registration')

    #login-tab
      form.form#login-form
        .form__wrapper
          p
            label.label
              span Елекстронна пошта:
              input(type='text' name='LoginForm[email]').input
          p
            label.label
              span Пароль:
              input(type='password' name='LoginForm[password]').input
          p
            label.input-checkbox
              input(type='checkbox' name='LoginForm[rememberMe]' value='true')
              span Запам’ятати мене
          p
            span.form__info Якщо ви забули пароль, ви може його
            a(href='#').link.blue відновити

        button(type='submit').button.booking-room__btn
          span Увійти
          +icon('login')




#search-block.search.modal
  a(href='#!').modal-close.close-window
    +icon('close-modal')
  .modal__container.container
    h2.modal__title.title.title_2 Пошук по квартирам
    form#search-form
      .search__options
        .search__option.search__room
          span Кімнат:
          .search__group
            label.input-pick
              input(type='checkbox' checked name='room' value='1К')
              span 1К
            label.input-pick
              input(type='checkbox' name='room' value='2К')
              span 2К
            label.input-pick
              input(type='checkbox' name='room' value='3К')
              span 3К
            label.input-pick
              input(type='checkbox' name='room' value='4К+')
              span 4К+


        .search__option.search__floor
          span Поверх:
          input(type='number' name='floorFrom' placeholder='від').input
          input(type='number' name='floorTo' placeholder='до').input
        .search__option.search__square
          span Площа:
          input(type='number' name='squareFrom' placeholder='від').input
          input(type='number' name='squareTo' placeholder='до').input
        .search__option.search__price
          span Ціна:
          input(type='number' name='priceFrom' placeholder='від').input
          input(type='number' name='priceTo' placeholder='до').input
          select(name='currencyForm')
            option UAH
            option USD
            option EUR
        .search__option.search__terms
          span Термін здачі:
          select(name='termsForm')
            option до 2021 IV квартал
            option до 2020 II квартал
            option до 2022 V квартал

      .search__block.block-search.filter__block
        .block-search__header
          h4.block-search__title.title-4 Житловий комплекс
          .block-search__control
            a(href='#').select-all.link.green Обрати всі
            a(href='#').reset-all.link.red Скинути
        .block-search__body
          label.input-checkbox
            input(type='checkbox' name='building' value='Містечко липки')
            span Містечко липки
          label.input-checkbox
            input(type='checkbox' name='building' value='Опришківська слобода')
            span Опришківська слобода
          label.input-checkbox
            input(type='checkbox' name='building' value='Містечко липки')
            span Містечко липки
          label.input-checkbox
            input(type='checkbox' name='building' value='Житловий комплекс Sttk#3')
            span Житловий комплекс Sttk#3
          label.input-checkbox
            input(type='checkbox' name='building' value='Містечко липки')
            span Містечко липки
          label.input-checkbox
            input(type='checkbox' name='building' value='Містечко липки')
            span Містечко липки
          label.input-checkbox
            input(type='checkbox' name='building' value='Містечко липки')
            span Містечко липки
          label.input-checkbox
            input(type='checkbox' name='building' value='Містечко паркове')
            span Містечко паркове
          label.input-checkbox
            input(type='checkbox' name='building' value='ЖК Park Residence')
            span ЖК Park Residence
          label.input-checkbox
            input(type='checkbox' name='building' value='Мілленіум')
            span Мілленіум
          label.input-checkbox
            input(type='checkbox' name='building' value='Містечко липки')
            span Містечко липки
          label.input-checkbox
            input(type='checkbox' name='building' value='Містечко липки')
            span Містечко липки
          label.input-checkbox
            input(type='checkbox' name='building' value='Опришківська слобода')
            span Опришківська слобода
          label.input-checkbox
            input(type='checkbox' name='building' value='Містечко липки')
            span Містечко липки
          label.input-checkbox
            input(type='checkbox' name='building' value='ЖК Park Residence')
            span ЖК Park Residence
          label.input-checkbox
            input(type='checkbox' name='building' value='Опришківська слобода')
            span Опришківська слобода
          label.input-checkbox
            input(type='checkbox' name='building' value='Опришківська слобода')
            span Опришківська слобода
          label.input-checkbox
            input(type='checkbox' name='building' value='Мілленіум')
            span Мілленіум



      .search__block.block-search.filter__block
        .block-search__header
          h4.block-search__title.title-4 Район
          .block-search__control
            a(href='#').select-all.link.green Обрати всі
            a(href='#').reset-all.link.red Скинути
        .block-search__body
          label.input-checkbox
            input(type='checkbox' name='district' value='Містечко липки')
            span Містечко липки
          label.input-checkbox
            input(type='checkbox' name='district' value='Опришківська слобода')
            span Опришківська слобода
          label.input-checkbox
            input(type='checkbox' name='district' value='Містечко липки')
            span Містечко липки
          label.input-checkbox
            input(type='checkbox' name='district' value='Житловий комплекс Sttk#3')
            span Житловий комплекс Sttk#3
          label.input-checkbox
            input(type='checkbox' name='district' value='Містечко липки')
            span Містечко липки
          label.input-checkbox
            input(type='checkbox' name='district' value='Містечко липки')
            span Містечко липки
          label.input-checkbox
            input(type='checkbox' name='district' value='Містечко липки')
            span Містечко липки
          label.input-checkbox
            input(type='checkbox' name='district' value='Містечко паркове')
            span Містечко паркове
          label.input-checkbox
            input(type='checkbox' name='district' value='ЖК Park Residence')
            span ЖК Park Residence
          label.input-checkbox
            input(type='checkbox' name='district' value='Мілленіум')
            span Мілленіум
          label.input-checkbox
            input(type='checkbox' name='district' value='Містечко липки')
            span Містечко липки
          label.input-checkbox
            input(type='checkbox' name='district' value='Містечко липки')
            span Містечко липки
          label.input-checkbox
            input(type='checkbox' name='district' value='Опришківська слобода')
            span Опришківська слобода
          label.input-checkbox
            input(type='checkbox' name='district' value='Містечко липки')
            span Містечко липки
          label.input-checkbox
            input(type='checkbox' name='district' value='ЖК Park Residence')
            span ЖК Park Residence
          label.input-checkbox
            input(type='checkbox' name='district' value='Опришківська слобода')
            span Опришківська слобода
          label.input-checkbox
            input(type='checkbox' name='district' value='Опришківська слобода')
            span Опришківська слобода
          label.input-checkbox
            input(type='checkbox' name='district' value='Мілленіум')
            span Мілленіум


      button(type='submit').button.block-search__btn
        span Шукати
        +icon('search')
