section.list-flats.page-block
  .list-flats__container.container
    h1.title Список квартир

    h2.title-2 Ваш ріелтор:
    .list-flats__reiltor.rieltor-list-flats
      .rieltor-list-flats__body

        .rieltor-list-flats__block.rieltor-list-flats__block_rieltor
          .rieltor-list-flats__content
            .rieltor-list-flats__photo
              +image('/rieltors/02.png')
            .rieltor-list-flats__value
              span Олександр Лахтіонов
            .rieltor-list-flats__label
              span Ім`я ріелтора

        .rieltor-list-flats__block
          .rieltor-list-flats__content
            .rieltor-list-flats__icon
              +icon('phone-list-flats-icon')
            .rieltor-list-flats__value
              a(href='tel:+380777777777') +38 (050) 373-52-91
            .rieltor-list-flats__label
              span Контактний номер

        .rieltor-list-flats__block
          .rieltor-list-flats__content
            .rieltor-list-flats__icon
              +icon('calendar-list-flats-icon')
            .rieltor-list-flats__value
              span 2017
            .rieltor-list-flats__label
              span Рік початку роботи

    h2.title-2 Список квартир:
    .list-flats__body
      .card-search
        .card-search__content
          a(href='#').card-search__title МістечкоЛипкиМістечкоЛипки Містечко Липки
          .card-search__info
            .card-search__block
              .card-search__value
                span 2к
              .card-search__label
                span Кімнат
            .card-search__block
              .card-search__value
                span 71,10
                span м2
              .card-search__label
                span Площа
            .card-search__block
              .card-search__value
                span 11
              .card-search__label
                span Поверх
            .card-search__block
              .card-search__value
                span 100 000 000
                span usd
              .card-search__label
                span Ціна
          .card-search__action
            a(href='#').card-search__button
              span Переглянути
            a(href='#').card-search__button
              span Видалити
        .card-search__photo
          div.item-gallery(data-src='../img/plans/01.jpeg' data-sub-html='text')
            +image('../img/plans/01.jpeg')

      .card-search
        .card-search__content
          a(href='#').card-search__title МістечкоЛипкиМістечкоЛипки Містечко Липки
          .card-search__info
            .card-search__block
              .card-search__value
                span 2к
              .card-search__label
                span Кімнат
            .card-search__block
              .card-search__value
                span 71,10
                span м2
              .card-search__label
                span Площа
            .card-search__block
              .card-search__value
                span 11
              .card-search__label
                span Поверх
            .card-search__block
              .card-search__value
                span 100 000 000
                span usd
              .card-search__label
                span Ціна
          .card-search__action
            a(href='#').card-search__button
              span Переглянути
            a(href='#').card-search__button
              span Видалити
        .card-search__photo
          div.item-gallery(data-src='../img/plans/01.jpeg' data-sub-html='text')
            +image('../img/plans/01.jpeg')

      .card-search
        .card-search__content
          a(href='#').card-search__title МістечкоЛипкиМістечкоЛипки Містечко Липки
          .card-search__info
            .card-search__block
              .card-search__value
                span 2к
              .card-search__label
                span Кімнат
            .card-search__block
              .card-search__value
                span 71,10
                span м2
              .card-search__label
                span Площа
            .card-search__block
              .card-search__value
                span 11
              .card-search__label
                span Поверх
            .card-search__block
              .card-search__value
                span 100 000 000
                span usd
              .card-search__label
                span Ціна
          .card-search__action
            a(href='#').card-search__button
              span Переглянути
            a(href='#').card-search__button
              span Видалити
        .card-search__photo
          div.item-gallery(data-src='../img/plans/01.jpeg' data-sub-html='text')
            +image('../img/plans/01.jpeg')
      .card-search
        .card-search__content
          a(href='#').card-search__title МістечкоЛипкиМістечкоЛипки Містечко Липки
          .card-search__info
            .card-search__block
              .card-search__value
                span 2к
              .card-search__label
                span Кімнат
            .card-search__block
              .card-search__value
                span 71,10
                span м2
              .card-search__label
                span Площа
            .card-search__block
              .card-search__value
                span 11
              .card-search__label
                span Поверх
            .card-search__block
              .card-search__value
                span 100 000 000
                span usd
              .card-search__label
                span Ціна
          .card-search__action
            a(href='#').card-search__button
              span Переглянути
            a(href='#').card-search__button
              span Видалити
        .card-search__photo
          div.item-gallery(data-src='../img/plans/01.jpeg' data-sub-html='text')
            +image('../img/plans/01.jpeg')

      .card-search
        .card-search__content
          a(href='#').card-search__title МістечкоЛипкиМістечкоЛипки Містечко Липки
          .card-search__info
            .card-search__block
              .card-search__value
                span 2к
              .card-search__label
                span Кімнат
            .card-search__block
              .card-search__value
                span 71,10
                span м2
              .card-search__label
                span Площа
            .card-search__block
              .card-search__value
                span 11
              .card-search__label
                span Поверх
            .card-search__block
              .card-search__value
                span 100 000 000
                span usd
              .card-search__label
                span Ціна
          .card-search__action
            a(href='#').card-search__button
              span Переглянути
            a(href='#').card-search__button
              span Видалити
        .card-search__photo
          div.item-gallery(data-src='../img/plans/01.jpeg' data-sub-html='text')
            +image('../img/plans/01.jpeg')

      .card-search
        .card-search__content
          a(href='#').card-search__title МістечкоЛипкиМістечкоЛипки Містечко Липки
          .card-search__info
            .card-search__block
              .card-search__value
                span 2к
              .card-search__label
                span Кімнат
            .card-search__block
              .card-search__value
                span 71,10
                span м2
              .card-search__label
                span Площа
            .card-search__block
              .card-search__value
                span 11
              .card-search__label
                span Поверх
            .card-search__block
              .card-search__value
                span 100 000 000
                span usd
              .card-search__label
                span Ціна
          .card-search__action
            a(href='#').card-search__button
              span Переглянути
            a(href='#').card-search__button
              span Видалити
        .card-search__photo
          div.item-gallery(data-src='../img/plans/01.jpeg' data-sub-html='text')
            +image('../img/plans/01.jpeg')

      .card-search
        .card-search__content
          a(href='#').card-search__title МістечкоЛипкиМістечкоЛипки Містечко Липки
          .card-search__info
            .card-search__block
              .card-search__value
                span 2к
              .card-search__label
                span Кімнат
            .card-search__block
              .card-search__value
                span 71,10
                span м2
              .card-search__label
                span Площа
            .card-search__block
              .card-search__value
                span 11
              .card-search__label
                span Поверх
            .card-search__block
              .card-search__value
                span 100 000 000
                span usd
              .card-search__label
                span Ціна
          .card-search__action
            a(href='#').card-search__button
              span Переглянути
            a(href='#').card-search__button
              span Видалити
        .card-search__photo
          div.item-gallery(data-src='../img/plans/01.jpeg' data-sub-html='text')
            +image('../img/plans/01.jpeg')

      .card-search
        .card-search__content
          a(href='#').card-search__title МістечкоЛипкиМістечкоЛипки Містечко Липки
          .card-search__info
            .card-search__block
              .card-search__value
                span 2к
              .card-search__label
                span Кімнат
            .card-search__block
              .card-search__value
                span 71,10
                span м2
              .card-search__label
                span Площа
            .card-search__block
              .card-search__value
                span 11
              .card-search__label
                span Поверх
            .card-search__block
              .card-search__value
                span 100 000 000
                span usd
              .card-search__label
                span Ціна
          .card-search__action
            a(href='#').card-search__button
              span Переглянути
            a(href='#').card-search__button
              span Видалити
        .card-search__photo
          div.item-gallery(data-src='../img/plans/01.jpeg' data-sub-html='text')
            +image('../img/plans/01.jpeg')

      .card-search
        .card-search__content
          a(href='#').card-search__title МістечкоЛипкиМістечкоЛипки Містечко Липки
          .card-search__info
            .card-search__block
              .card-search__value
                span 2к
              .card-search__label
                span Кімнат
            .card-search__block
              .card-search__value
                span 71,10
                span м2
              .card-search__label
                span Площа
            .card-search__block
              .card-search__value
                span 11
              .card-search__label
                span Поверх
            .card-search__block
              .card-search__value
                span 100 000 000
                span usd
              .card-search__label
                span Ціна
          .card-search__action
            a(href='#').card-search__button
              span Переглянути
            a(href='#').card-search__button
              span Видалити
        .card-search__photo
          div.item-gallery(data-src='../img/plans/01.jpeg' data-sub-html='text')
            +image('../img/plans/01.jpeg')