section.main-works.page-block
  h2.main-services__title.title.anim-item.anim-no-hide.anim-show-from-top Наші <span>роботи</span>
  .main-works__container.container
    ul.main-works__tags.tags.anim-item.anim-no-hide.anim-show-from-bottom
      li
        a(href='#')
          span.tags__hash #
          span.tags__text веб дизайн
      li
        a(href='#')
          span.tags__hash #
          span.tags__text логотип
      li
        a(href='#')
          span.tags__hash #
          span.tags__text розробка
  .main-works__slider.slider-main-works.anim-item.anim-no-hide.anim-show-from-bottom
    .main-works__card.card-main-works
      .card-main-works__bg
        +image('/works/ank.jpg')
      .card-main-works__content
        h4.card-main-works__label Ankshop
        ul.card-main-works__tags
          li
            span.card-main-works__text #розробка
        a(href='#').card-main-works__link.link Переглянути
    .main-works__card.card-main-works
      .card-main-works__bg
        +image('/works/sclima.jpg')
      .card-main-works__content
        h4.card-main-works__label S-Clima
        ul.card-main-works__tags
          li
            span.card-main-works__text #розробка
          li
            span.card-main-works__text #логотип
          li
            span.card-main-works__text #веб дизайн
        a(href='#').card-main-works__link.link Переглянути
    .main-works__card.card-main-works
      .card-main-works__bg
        +image('/works/streamliner.jpg')
        .card-main-works__content
          h4.card-main-works__label Guitar Store
          ul.card-main-works__tags
            li
              span.card-main-works__text #веб дизайн
          a(href='#').card-main-works__link.link Переглянути
    .main-works__card.card-main-works
      .card-main-works__bg
        +image('/works/smartik.jpg')
        .card-main-works__content
          h4.card-main-works__label Smartik
          ul.card-main-works__tags
            li
              span.card-main-works__text #розробка
            li
              span.card-main-works__text #веб дизайн
          a(href='#').card-main-works__link.link Переглянути
    .main-works__card.card-main-works
      .card-main-works__bg
        +image('/works/scooter.jpg')
        .card-main-works__content
          h4.card-main-works__label Electro Shop
          ul.card-main-works__tags
            li
              span.card-main-works__text #розробка
            li
              span.card-main-works__text #веб дизайн
          a(href='#').card-main-works__link.link Переглянути
    .main-works__card.card-main-works
      .card-main-works__bg
        +image('/works/buildgroup.jpg')
        .card-main-works__content
          h4.card-main-works__label Build Corp
          ul.card-main-works__tags
            li
              span.card-main-works__text #логотип
            li
              span.card-main-works__text #веб дизайн
          a(href='#').card-main-works__link.link Переглянути
    .main-works__card.card-main-works
      .card-main-works__bg
        +image('/works/trevel.jpg')
        .card-main-works__content
          h4.card-main-works__label Climb Club
          ul.card-main-works__tags
            li
              span.card-main-works__text #веб дизайн
          a(href='#').card-main-works__link.link Переглянути
    .main-works__card.card-main-works
      .card-main-works__bg
        +image('/works/court.jpg')
        .card-main-works__content
          h4.card-main-works__label Court Graffik
          ul.card-main-works__tags
            li
              span.card-main-works__text #веб дизайн
          a(href='#').card-main-works__link.link Переглянути

  .main-works__more.anim-item.anim-no-hide.anim-show-from-bottom
    a(href='/portfolio.html').link Всі роботи