section.main-partners
  .main-partners__container.container.anim-item.anim-no-hide.anim-show-from-right
    .main-partners__wrapper
      .main-partners__label
        span Партнери з якими успішно співпрацюємо
      .main-partners__slider.slider-main-partners
        .main-partners__logo
          +image('/partners/fila.png')
        .main-partners__logo
          +image('/partners/adidas.png')
        .main-partners__logo
          +image('/partners/nike.png')
        .main-partners__logo
          +image('/partners/puma.png')
        .main-partners__logo
          +image('/partners/ritter.png')
        .main-partners__logo
          +image('/partners/nike.png')
