section.main-reviews.page-block
  h2.main-reviews__title.title.anim-item.anim-no-hide.anim-show-from-top Відгуки <span>клієнтів</span>
  .main-reviews__container.container
    .main-reviews__slider.slider-main-reviews.anim-item.anim-no-hide.anim-show-from-left
      .slider-main-reviews__item
        .reviews-card
          .reviews-card__author
            .reviews-card__avatar
              +image('/reviews/print-bar.jpg')
            span.reviews-card__name Олександр <span>Процак</span>
            span.reviews-card__position Co-founder of Print Studop
          .reviews-card__review
            .reviews-card__quote
              +icon('quote')
            p.reviews-card__text A visual guide could be a wireframe, creative composition, or information architecture. A device that enables collaboration will lessen the chance of work having to be completely redone. A visual guide could be a wireframe, creative composition, or information architecture. A device that enables collaboration will lessen the chance of work having to be completely redone.
      .slider-main-reviews__item
        .reviews-card
          .reviews-card__author
            .reviews-card__avatar
              +image('/reviews/print-bar.jpg')
            span.reviews-card__name Олександр <span>Процак</span>
            span.reviews-card__position Co-founder of Print Studop
          .reviews-card__review
            .reviews-card__quote
              +icon('quote')
            p.reviews-card__text A visual guide could be a wireframe, creative composition, or information architecture. A device that enables collaboration will lessen the chance of work having to be completely redone. A visual guide could be a wireframe, creative composition, or information architecture. A device that enables collaboration will lessen the chance of work having to be completely redone.
      .slider-main-reviews__item
        .reviews-card
          .reviews-card__author
            .reviews-card__avatar
              +image('/reviews/print-bar.jpg')
            span.reviews-card__name Олександр <span>Процак</span>
            span.reviews-card__position Co-founder of Print Studop
          .reviews-card__review
            .reviews-card__quote
              +icon('quote')
            p.reviews-card__text A visual guide could be a wireframe, creative composition, or information architecture. A device that enables collaboration will lessen the chance of work having to be completely redone. A visual guide could be a wireframe, creative composition, or information architecture. A device that enables collaboration will lessen the chance of work having to be completely redone.

