section.main-services.page-block
  h2.main-services__title.title.anim-item.anim-no-hide.anim-show-from-top Наші <span>послуги</span>
  .main-services__container.container

    .main-services__cards
      .main-services__card.card-main-services
        .card-main-services__icon
          #web-dev-icon.bodymovin.anim-item.anim-no-hide.anim-show-from-left
        h4.card-main-services__title.anim-item.anim-no-hide.anim-show-from-bottom Розробка сайтів
        .card-main-services__desc.anim-item.anim-no-hide.anim-show-from-bottom.anim-show-from-bottom_3
          p Ми створюємо функціональні та зрозумілі рішення, які дозволяють ефективно комунікувати з клієнтами в мережі:
          ul.anim-item.anim-no-hide.anim-show-from-bottom.anim-show-from-bottom_3
            li Корпоративні сайти
            li Інтернет-магазини
            li Односторінкові сайти (landing page)
            li Сайти-візитки
            li Розробка індивідуальних рішень
            li Підтримка та розміщення сайтів


      .main-services__card.card-main-services
        .card-main-services__icon
          #auto-icon.bodymovin.anim-item.anim-no-hide.anim-show-from-left
        h4.card-main-services__title.anim-item.anim-no-hide.anim-show-from-bottom Автоматизація бізнесу
        .card-main-services__desc.anim-item.anim-no-hide.anim-show-from-bottom.anim-show-from-bottom_3
          p Успішний бізнес – це системна та злагоджена робота всієї команди, ефективний відділ продажу та доступність статистики про роботу усіх працівників. Все це можливо досягти за допомогою інструментів від Bitrix24. Замовляйте у нас:
          ul.anim-item.anim-no-hide.anim-show-from-bottom.anim-show-from-bottom_3
            li Оптимізацію робочих процесів
            li Інтеграцію crm-системи
            li Налаштування бізнес-процесів

      .main-services__card.card-main-services
        .card-main-services__icon
          #design-icon.bodymovin.anim-item.anim-no-hide.anim-show-from-left
        h4.card-main-services__title.anim-item.anim-no-hide.anim-show-from-bottom Дизайн рішення
        .card-main-services__desc.anim-item.anim-no-hide.anim-show-from-bottom.anim-show-from-bottom_3
          p Привабливий та зрозумілий дизайн – основний спосіб підкреслити індивідуальність та показати сильні сторони вашого продукту чи бренду. Ми розробляємо:
          ul.anim-item.anim-no-hide.anim-show-from-bottom.anim-show-from-bottom_3
            li Дизайн сайту
            li Редизайн вже існуючого сайту
            li Логотипи
            li Брендбуки
            li Дизайн поліграфічної продукції
            li Розробка digital візуалу

      .main-services__card.card-main-services
        .card-main-services__icon
          #ad-icon.bodymovin.anim-item.anim-no-hide.anim-show-from-left
        h4.card-main-services__title.anim-item.anim-no-hide.anim-show-from-bottom Просування та реклама
        .card-main-services__desc.anim-item.anim-no-hide.anim-show-from-bottom.anim-show-from-bottom_3
          p Комунікаційна стратегія, стимулювання збуту, підвищення впізнаваності в мережі – завдання відділу digital маркетингу, тому довірте нам:
          ul.anim-item.anim-no-hide.anim-show-from-bottom.anim-show-from-bottom_3
            li Розробку комунікаційної стратегії
            li Ведення соцмереж
            li Налаштування  таргетингової реклами Facebook та Instagram
            li Налаштування контекстної та медійно-банерної реклами
            li SEO – оптимізація та просування вашого сайту в пошукових системах