section.main-slider
  .main-slider__single.single-main-slider
    .single-main-slider__item
      +image('main-pic.jpg')
      .single-main-slider__block
        .single-main-slider__container.container
          h1.single-main-slider__title Повседневная практика показывает, что базовый
          p.single-main-slider__description Как уже неоднократно упомянуто, интерактивные прототипы, превозмогая сложившуюся непростую экономическую ситуацию, ограничены исключительно образом мышления.
          ul.single-main-slider__list
            li Всі новобудови міста
            li Незалежні агенти
            li Всі новобудови міста
          a(href='#registration-block').single-main-slider__btn.register-modal.modal-trigger
            span Реєстрація
            +icon('user-icon-white')
    .single-main-slider__item
      +image('main-pic-02.jpg')
      .single-main-slider__block
        .single-main-slider__container.container
          h1.single-main-slider__title Повседневная практика показывает, что базовый
          p.single-main-slider__description Как уже неоднократно упомянуто, интерактивные прототипы, превозмогая сложившуюся непростую экономическую ситуацию, ограничены исключительно образом мышления.
          ul.single-main-slider__list
            li Всі новобудови міста
            li Незалежні агенти
            li Всі новобудови міста
          a(href='#registration-block').single-main-slider__btn.register-modal.modal-trigger
            span Реєстрація
            +icon('user-icon-white')
    .single-main-slider__item
      +image('main-pic-03.jpg')
      .single-main-slider__block
        .single-main-slider__container.container
          h1.single-main-slider__title Повседневная практика показывает, что базовый
          p.single-main-slider__description Как уже неоднократно упомянуто, интерактивные прототипы, превозмогая сложившуюся непростую экономическую ситуацию, ограничены исключительно образом мышления.
          ul.single-main-slider__list
            li Всі новобудови міста
            li Незалежні агенти
            li Всі новобудови міста
          a(href='#registration-block').single-main-slider__btn.register-modal.modal-trigger
            span Реєстрація
            +icon('user-icon-white')
    .single-main-slider__item
      +image('main-pic-02.jpg')
      .single-main-slider__block
        .single-main-slider__container.container
          h1.single-main-slider__title Повседневная практика показывает, что базовый
          p.single-main-slider__description Как уже неоднократно упомянуто, интерактивные прототипы, превозмогая сложившуюся непростую экономическую ситуацию, ограничены исключительно образом мышления.
          ul.single-main-slider__list
            li Всі новобудови міста
            li Незалежні агенти
            li Всі новобудови міста
          a(href='#registration-block').single-main-slider__btn.register-modal.modal-trigger
            span Реєстрація
            +icon('user-icon-white')

  .main-slider__nav.nav-main-slider
    .nav-main-slider__item
      span Для покупця
    .nav-main-slider__item
      span для ріелтора
    .nav-main-slider__item
      span ДЛЯ ЗАБУДОВНИКА
    .nav-main-slider__item
      span ДЛЯ ЗАБУДОВНИКА2
