section.main-block.page-block
  video(autoplay muted loop)#main-block-video
    source(src='assets/main-animation.mp4' type='video/mp4')
  .container
    .main-block__slider.slider-main-block
      .slider-main-block__item
        .item-main-slider
          h1.item-main-slider__title Індивідуальний підхід до розробки <span>веб дизайну</span>
          p.item-main-slider__desc.text-size-5 Таким образом начало повседневной работы по формированию позиции позволяет оценить значение соответствующий условий активизации.
          a(href='#modal-order' data-service="3").item-main-slider__btn.btn-wave.text-size-5.modal-trigger
            span.btn-wave__text Замовити
            span.btn-wave__waves

      .slider-main-block__item
        .item-main-slider
          h1.item-main-slider__title Індивідуальний підхід до розробки <span>веб дизайну</span>
          p.item-main-slider__desc.text-size-5 Таким образом начало повседневной работы по формированию позиции позволяет оценить значение соответствующий условий активизации.
          a(href='#modal-order' data-service="3").item-main-slider__btn.btn-wave.text-size-5.modal-trigger
            span.btn-wave__text Замовити
            span.btn-wave__waves