section.portfolio.self-block
  h1.portfolio__title.title.anim-item.anim-no-hide.anim-show-from-top Наші <span>роботи</span>
  .portfolio__container.container
    ul.portfolio__filter-tags.tags.anim-item.anim-no-hide.anim-show-from-bottom
      li
        a(href='#')
          span.tags__hash #
          span.tags__text веб дизайн
      li
        a(href='#')
          span.tags__hash #
          span.tags__text логотип
      li
        a(href='#')
          span.tags__hash #
          span.tags__text розробка



  .portfolio__project.project-portfolio
    .project-portfolio__header.header-project.pushpin
      .header-project__container.container
        .header-project__wrapper
          h3.header-project__title Сайт<span>S-Clima</span>
          ul.header-project__tags
            li
              span #логотип
            li
              span #веб дизайн
            li
              span #розробка
    .project-portfolio__body.body-project
      .body-project__container.container
        .project-portfolio__slider
          .project-portfolio__slide
            +image('works/sclima3.jpg')
          .project-portfolio__slide
            +image('works/sclima.jpg')
          .project-portfolio__slide
            +image('works/sclima2.jpg')

        .body-project__wrapper

          a(href='#sclima-content').body-project__btn.modal-trigger
            +icon('information')
            +icon('portfolio-desc-icon')

          .body-project__content.modal#sclima-content
            a(href="#!").body-project__close.modal-close
              +icon('close-btn')
            h4.body-project__title Сайт<span>S-Clima</span>
            p Повседневная практика показывает, что реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития. Таким образом реализация намеченных плановых заданий позволяет оценить значение новых предложений.
            p Таким образом начало повседневной работы по формированию позиции позволяет оценить значение соответствующий условий активизации.

      .body-project__container.container
        .body-project__website
          div
            a(href='https://sclima.com.ua/' target='_blank').link sclima.com.ua




  .portfolio__project.project-portfolio
    .project-portfolio__header.header-project.pushpin
      .header-project__container.container
        .header-project__wrapper
          h3.header-project__title Court <span>Graffik</span>
          ul.header-project__tags
            li
              span #логотип
            li
              span #веб дизайн
    .project-portfolio__body.body-project
      .body-project__container.container
        .project-portfolio__slider
          .project-portfolio__slide
            +image('works/court.jpg')
          .project-portfolio__slide
            +image('works/court.jpg')
          .project-portfolio__slide
            +image('works/court.jpg')

        .body-project__wrapper

          a(href='#court-content').body-project__btn.modal-trigger
            +icon('information')
            +icon('portfolio-desc-icon')

          .body-project__content.modal#court-content
            a(href="#!").body-project__close.modal-close
              +icon('close-btn')
            h4.body-project__title Сайт<span>Graffik</span>
            p Повседневная практика показывает, что реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития. Таким образом реализация намеченных плановых заданий позволяет оценить значение новых предложений.
            p Таким образом начало повседневной работы по формированию позиции позволяет оценить значение соответствующий условий активизации.




  .portfolio__project.project-portfolio
    .project-portfolio__header.header-project.pushpin
      .header-project__container.container
        .header-project__wrapper
          h3.header-project__title Сайт <span>Smartik</span>
          ul.header-project__tags
            li
              span #веб дизайн
            li
              span #розробка
    .project-portfolio__body.body-project
      .body-project__container.container
        .project-portfolio__slider
          .project-portfolio__slide
            +image('works/smartik.jpg')
          .project-portfolio__slide
            +image('works/smartik.jpg')
          .project-portfolio__slide
            +image('works/smartik.jpg')

        .body-project__wrapper

          a(href='#smartik-content').body-project__btn.modal-trigger
            +icon('information')
            +icon('portfolio-desc-icon')

          .body-project__content.modal#smartik-content
            a(href="#!").body-project__close.modal-close
              +icon('close-btn')
            h4.body-project__title Сайт<span>Smartik</span>
            p Повседневная практика показывает, что реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития. Таким образом реализация намеченных плановых заданий позволяет оценить значение новых предложений.
            p Таким образом начало повседневной работы по формированию позиции позволяет оценить значение соответствующий условий активизации.

      .body-project__container.container
        .body-project__website
          div
            a(href='https://smartik.if.ua/' target='_blank').link smartik.if.ua
