section.about.self-block
  h1.about__title.title.anim-item.anim-no-hide.anim-show-from-top Про<span>нас</span>
  .about__container.container
    .about__content.anim-item.anim-no-hide.anim-show-from-bottom
      p <b>D-wave studio</b>  - це розробка та впровадження ІТ рішень для вашого бізнесу, підтримка та супровід продукту, від створення концепції до повної його реалізації , використовуючи найновіші тенденції в UX/UI дизайні, а також маркетингові інструменти, які дозволять провести ефективне дослідження ринку та реалізувати успішну рекласну капманію.  Наша мета — якісний кінцевий результат.
      p Ми проти шаблонного обслуговування, тому підходимо до кожного проєкту комплексно, фокусуючись на завданнях замовників, в тому об'ємі, який дозволяє вирішити їх потреби. Адже <b>успіх клієнтів — це успіх усієї команди!</b>
      p Для нас дуже важливий індивідуальний підхід до клієнта та тісна співпраця протягом  всього процесу роботи, з погодженням та роз'ясненням максимальної кількості деталей та ідей.
      p Інколи досить важко одразу зрозуміти які  інструменти потрібні саме вашому бізнесу, з чого почати та на який бюджет розраховувати. Всі ці питання без сумніву дуже важливі і потребують кваліфікованої оцінки. Звертайтесь і ми з задоволенням Вам допоможемо!

    a(href='#modal-order').about__btn.btn-wave.text-size-5.anim-item.anim-no-hide.anim-show-from-bottom.modal-trigger
      span.btn-wave__text Замовити
      span.btn-wave__waves
