section.queues.page-block
  .queues__container.container
    ul.queues__breadcrumbs.breadcrumbs
      li.breadcumbs__item
        a(href='#') Головна
      li.breadcumbs__item
        a(href='#') Житлові комлекси
      li.breadcumbs__item
        a(href='#') Містечко Липки
      li.breadcumbs__item
        a(href='#') Всі черги Містечко Липки
    h1.title Всі черги Містечко Липки

    .queues__body
      .queues__card-first
        div.item-gallery(data-src='../img/section-lupky/01.jpeg' data-sub-html=' ')
          .first-card-queues
            .first-card-queues__body
              .first-card-queues__photo
                +icon('plan')
              h3.first-card-queues__title.title-3 Загальний план


      a(href='#').queues__card.card-queues
        .card-queues__photo
          +image('queues/01.jpg')
        .card-queues__body
          .card-queues__block
            .card-queues__value
              span 1500
              span UAH
            .card-queues__label
              span Ціна від, м2
          .card-queues__block
            .card-queues__value
              span 500+
            .card-queues__label
              span Вільні квартири
          .card-queues__block
            .card-queues__value
              span IV квартал 2020 року
            .card-queues__label
              span Запланована здача

      a(href='#').queues__card.card-queues
        .card-queues__photo
          +image('queues/02.jpg')
        .card-queues__body
          .card-queues__block
            .card-queues__value
              span 1500
              span UAH
            .card-queues__label
              span Ціна від, м2
          .card-queues__block
            .card-queues__value
              span 500+
            .card-queues__label
              span Вільні квартири
          .card-queues__block
            .card-queues__value
              span IV квартал 2020 року
            .card-queues__label
              span Запланована здача

      a(href='#').queues__card.card-queues
        .card-queues__photo
          +image('queues/03.jpg')
        .card-queues__body
          .card-queues__block
            .card-queues__value
              span 1500
              span UAH
            .card-queues__label
              span Ціна від, м2
          .card-queues__block
            .card-queues__value
              span 500+
            .card-queues__label
              span Вільні квартири
          .card-queues__block
            .card-queues__value
              span IV квартал 2020 року
            .card-queues__label
              span Запланована здача

      a(href='#').queues__card.card-queues
        .card-queues__photo
          +image('queues/04.jpg')
        .card-queues__body
          .card-queues__block
            .card-queues__value
              span 1500
              span UAH
            .card-queues__label
              span Ціна від, м2
          .card-queues__block
            .card-queues__value
              span 500+
            .card-queues__label
              span Вільні квартири
          .card-queues__block
            .card-queues__value
              span IV квартал 2020 року
            .card-queues__label
              span Запланована здача

      a(href='#').queues__card.card-queues
        .card-queues__photo
          +image('queues/05.jpg')
        .card-queues__body
          .card-queues__block
            .card-queues__value
              span 1500
              span UAH
            .card-queues__label
              span Ціна від, м2
          .card-queues__block
            .card-queues__value
              span 500+
            .card-queues__label
              span Вільні квартири
          .card-queues__block
            .card-queues__value
              span IV квартал 2020 року
            .card-queues__label
              span Запланована здача

      a(href='#').queues__card.card-queues
        .card-queues__photo
          +image('queues/06.jpg')
        .card-queues__body
          .card-queues__block
            .card-queues__value
              span 1500
              span UAH
            .card-queues__label
              span Ціна від, м2
          .card-queues__block
            .card-queues__value
              span 500+
            .card-queues__label
              span Вільні квартири
          .card-queues__block
            .card-queues__value
              span IV квартал 2020 року
            .card-queues__label
              span Запланована здача

      a(href='#').queues__card.card-queues
        .card-queues__photo
          +image('queues/07.jpg')
        .card-queues__body
          .card-queues__block
            .card-queues__value
              span 1500
              span UAH
            .card-queues__label
              span Ціна від, м2
          .card-queues__block
            .card-queues__value
              span 500+
            .card-queues__label
              span Вільні квартири
          .card-queues__block
            .card-queues__value
              span IV квартал 2020 року
            .card-queues__label
              span Запланована здача
