section.search-content
  a(href='#').search-content__button.sidebar-show-btn.button
    span ФіЛЬТР
    +icon('filter-icon')

  .search-content__block.block-search-content
    .block-search-content__status
      span Вьсого
      span.bold 25
      span типових квартир в
      span.bold ЖК Park Residence (2 черга)
      span по
      span.bold вул. Пилипа Орлика 25а

    .block-search-content__slider.gallery-search-page
      .block-search-content__item
        .block-search-content__card.card-search
          .card-search__content
            .card-search__info
              .card-search__block
                .card-search__value
                  span 2к
                .card-search__label
                  span Кімнат
              .card-search__block
                .card-search__value
                  span 71,10
                  span м2
                .card-search__label
                  span Площа
              .card-search__block
                .card-search__value
                  span 11
                .card-search__label
                  span Поверх
              .card-search__block
                .card-search__value
                  span 100 000 000
                  span usd
                .card-search__label
                  span Ціна
            .card-search__action
              a(href='#').card-search__button
                span Переглянути
              a(href='#').card-search__button
                span В ЛІСТИНГ
          .card-search__photo
            div.item-gallery(data-src='../img/plans/01.jpeg' data-sub-html='text')
              +image('../img/plans/01.jpeg')
      .block-search-content__item
        .block-search-content__card.card-search
          .card-search__content
            .card-search__info
              .card-search__block
                .card-search__value
                  span 2к
                .card-search__label
                  span Кімнат
              .card-search__block
                .card-search__value
                  span 71,10
                  span м2
                .card-search__label
                  span Площа
              .card-search__block
                .card-search__value
                  span 11
                .card-search__label
                  span Поверх
              .card-search__block
                .card-search__value
                  span 100 000 000
                  span usd
                .card-search__label
                  span Ціна
            .card-search__action
              a(href='#').card-search__button
                span Переглянути
              a(href='#').card-search__button
                span В ЛІСТИНГ
          .card-search__photo
            div.item-gallery(data-src='../img/plans/02.png' data-sub-html='text')
              +image('../img/plans/02.png')
      .block-search-content__item
        .block-search-content__card.card-search
          .card-search__content
            .card-search__info
              .card-search__block
                .card-search__value
                  span 2к
                .card-search__label
                  span Кімнат
              .card-search__block
                .card-search__value
                  span 71,10
                  span м2
                .card-search__label
                  span Площа
              .card-search__block
                .card-search__value
                  span 11
                .card-search__label
                  span Поверх
              .card-search__block
                .card-search__value
                  span 100 000 000
                  span usd
                .card-search__label
                  span Ціна
            .card-search__action
              a(href='#').card-search__button
                span Переглянути
          .card-search__photo
            div.item-gallery(data-src='../img/plans/01.jpeg' data-sub-html='text')
              +image('../img/plans/01.jpeg')


  .search-content__block.block-search-content
    .block-search-content__status
      span Вьсого
      span.bold 25
      span типових квартир в
      span.bold ЖК Park Residence (2 черга)
      span по
      span.bold вул. Пилипа Орлика 25а

    .block-search-content__slider.gallery-search-page
      .block-search-content__item
        .block-search-content__card.card-search
          .card-search__content
            .card-search__info
              .card-search__block
                .card-search__value
                  span 2к
                .card-search__label
                  span Кімнат
              .card-search__block
                .card-search__value
                  span 71,10
                  span м2
                .card-search__label
                  span Площа
              .card-search__block
                .card-search__value
                  span 11
                .card-search__label
                  span Поверх
              .card-search__block
                .card-search__value
                  span 100 000 000
                  span usd
                .card-search__label
                  span Ціна
            .card-search__action
              a(href='#').card-search__button
                span Переглянути
              a(href='#').card-search__button
                span В ЛІСТИНГ
          .card-search__photo
            div.item-gallery(data-src='../img/plans/01.jpeg' data-sub-html='text')
              +image('../img/plans/01.jpeg')
      .block-search-content__item
        .block-search-content__card.card-search
          .card-search__content
            .card-search__info
              .card-search__block
                .card-search__value
                  span 2к
                .card-search__label
                  span Кімнат
              .card-search__block
                .card-search__value
                  span 71,10
                  span м2
                .card-search__label
                  span Площа
              .card-search__block
                .card-search__value
                  span 11
                .card-search__label
                  span Поверх
              .card-search__block
                .card-search__value
                  span 100 000 000
                  span usd
                .card-search__label
                  span Ціна
            .card-search__action
              a(href='#').card-search__button
                span Переглянути
              a(href='#').card-search__button
                span В ЛІСТИНГ
          .card-search__photo
            div.item-gallery(data-src='../img/plans/02.png' data-sub-html='text')
              +image('../img/plans/02.png')
      .block-search-content__item
        .block-search-content__card.card-search
          .card-search__content
            .card-search__info
              .card-search__block
                .card-search__value
                  span 2к
                .card-search__label
                  span Кімнат
              .card-search__block
                .card-search__value
                  span 71,10
                  span м2
                .card-search__label
                  span Площа
              .card-search__block
                .card-search__value
                  span 11
                .card-search__label
                  span Поверх
              .card-search__block
                .card-search__value
                  span 100 000 000
                  span usd
                .card-search__label
                  span Ціна
            .card-search__action
              a(href='#').card-search__button
                span Переглянути
          .card-search__photo
            div.item-gallery(data-src='../img/plans/01.jpeg' data-sub-html='text')
              +image('../img/plans/01.jpeg')


  .search-content__block.block-search-content
    .block-search-content__status
      span Вьсого
      span.bold 25
      span типових квартир в
      span.bold ЖК Park Residence (2 черга)
      span по
      span.bold вул. Пилипа Орлика 25а

    .block-search-content__slider.gallery-search-page
      .block-search-content__item
        .block-search-content__card.card-search
          .card-search__content
            .card-search__info
              .card-search__block
                .card-search__value
                  span 2к
                .card-search__label
                  span Кімнат
              .card-search__block
                .card-search__value
                  span 71,10
                  span м2
                .card-search__label
                  span Площа
              .card-search__block
                .card-search__value
                  span 11
                .card-search__label
                  span Поверх
              .card-search__block
                .card-search__value
                  span 100 000 000
                  span usd
                .card-search__label
                  span Ціна
            .card-search__action
              a(href='#').card-search__button
                span Переглянути
              a(href='#').card-search__button
                span В ЛІСТИНГ
          .card-search__photo
            div.item-gallery(data-src='../img/plans/01.jpeg' data-sub-html='text')
              +image('../img/plans/01.jpeg')





  .search-content__block.block-search-content
    .block-search-content__status
      span Вьсого
      span.bold 25
      span типових квартир в
      span.bold ЖК Park Residence (2 черга)
      span по
      span.bold вул. Пилипа Орлика 25а

    .block-search-content__slider.gallery-search-page
      .block-search-content__item
        .block-search-content__card.card-search
          .card-search__content
            .card-search__info
              .card-search__block
                .card-search__value
                  span 2к
                .card-search__label
                  span Кімнат
              .card-search__block
                .card-search__value
                  span 71,10
                  span м2
                .card-search__label
                  span Площа
              .card-search__block
                .card-search__value
                  span 11
                .card-search__label
                  span Поверх
              .card-search__block
                .card-search__value
                  span 100 000 000
                  span usd
                .card-search__label
                  span Ціна
            .card-search__action
              a(href='#').card-search__button
                span Переглянути
              a(href='#').card-search__button
                span В ЛІСТИНГ
          .card-search__photo
            div.item-gallery(data-src='../img/plans/01.jpeg' data-sub-html='text')
              +image('../img/plans/01.jpeg')
      .block-search-content__item
        .block-search-content__card.card-search
          .card-search__content
            .card-search__info
              .card-search__block
                .card-search__value
                  span 2к
                .card-search__label
                  span Кімнат
              .card-search__block
                .card-search__value
                  span 71,10
                  span м2
                .card-search__label
                  span Площа
              .card-search__block
                .card-search__value
                  span 11
                .card-search__label
                  span Поверх
              .card-search__block
                .card-search__value
                  span 100 000 000
                  span usd
                .card-search__label
                  span Ціна
            .card-search__action
              a(href='#').card-search__button
                span Переглянути
              a(href='#').card-search__button
                span В ЛІСТИНГ
          .card-search__photo
            div.item-gallery(data-src='../img/plans/02.png' data-sub-html='text')
              +image('../img/plans/02.png')
      .block-search-content__item
        .block-search-content__card.card-search
          .card-search__content
            .card-search__info
              .card-search__block
                .card-search__value
                  span 2к
                .card-search__label
                  span Кімнат
              .card-search__block
                .card-search__value
                  span 71,10
                  span м2
                .card-search__label
                  span Площа
              .card-search__block
                .card-search__value
                  span 11
                .card-search__label
                  span Поверх
              .card-search__block
                .card-search__value
                  span 100 000 000
                  span usd
                .card-search__label
                  span Ціна
            .card-search__action
              a(href='#').card-search__button
                span Переглянути
          .card-search__photo
            div.item-gallery(data-src='../img/plans/01.jpeg' data-sub-html='text')
              +image('../img/plans/01.jpeg')




  .search-content__block.block-search-content
    .block-search-content__status
      span Вьсого
      span.bold 25
      span типових квартир в
      span.bold ЖК Park Residence (2 черга)
      span по
      span.bold вул. Пилипа Орлика 25а

    .block-search-content__slider.gallery-search-page
      .block-search-content__item
        .block-search-content__card.card-search
          .card-search__content
            .card-search__info
              .card-search__block
                .card-search__value
                  span 2к
                .card-search__label
                  span Кімнат
              .card-search__block
                .card-search__value
                  span 71,10
                  span м2
                .card-search__label
                  span Площа
              .card-search__block
                .card-search__value
                  span 11
                .card-search__label
                  span Поверх
              .card-search__block
                .card-search__value
                  span 100 000 000
                  span usd
                .card-search__label
                  span Ціна
            .card-search__action
              a(href='#').card-search__button
                span Переглянути
              a(href='#').card-search__button
                span В ЛІСТИНГ
          .card-search__photo
            div.item-gallery(data-src='../img/plans/01.jpeg' data-sub-html='text')
              +image('../img/plans/01.jpeg')
      .block-search-content__item
        .block-search-content__card.card-search
          .card-search__content
            .card-search__info
              .card-search__block
                .card-search__value
                  span 2к
                .card-search__label
                  span Кімнат
              .card-search__block
                .card-search__value
                  span 71,10
                  span м2
                .card-search__label
                  span Площа
              .card-search__block
                .card-search__value
                  span 11
                .card-search__label
                  span Поверх
              .card-search__block
                .card-search__value
                  span 100 000 000
                  span usd
                .card-search__label
                  span Ціна
            .card-search__action
              a(href='#').card-search__button
                span Переглянути
              a(href='#').card-search__button
                span В ЛІСТИНГ
          .card-search__photo
            div.item-gallery(data-src='../img/plans/02.png' data-sub-html='text')
              +image('../img/plans/02.png')
      .block-search-content__item
        .block-search-content__card.card-search
          .card-search__content
            .card-search__info
              .card-search__block
                .card-search__value
                  span 2к
                .card-search__label
                  span Кімнат
              .card-search__block
                .card-search__value
                  span 71,10
                  span м2
                .card-search__label
                  span Площа
              .card-search__block
                .card-search__value
                  span 11
                .card-search__label
                  span Поверх
              .card-search__block
                .card-search__value
                  span 100 000 000
                  span usd
                .card-search__label
                  span Ціна
            .card-search__action
              a(href='#').card-search__button
                span Переглянути
          .card-search__photo
            div.item-gallery(data-src='../img/plans/01.jpeg' data-sub-html='text')
              +image('../img/plans/01.jpeg')



  .pagination-wrapper
    ul.search-content__pagination.pagination
      li.disabled
        a(href='#!')
          +icon('pagination-prev')
      li.active
        a(href='#!') 1
      li.waves-effect
        a(href='#!') 2
      li.waves-effect
        a(href='#!') 3
      li.waves-effect
        a(href='#!') 4
      li.waves-effect
        a(href='#!') 5

      li.waves-effect
        a(href='#!')
          +icon('pagination-next')
