section.search-aside
  .search.search_filter
    h2.sidebar__title.title-2 Параметри
    form#search-form-aside
      .search__options
        .search__option.search__room
          span Кімнат:
          .search__group
            label.input-pick
              input(type='checkbox' checked name='room' value='1К')
              span 1К
            label.input-pick
              input(type='checkbox' name='room' value='2К')
              span 2К
            label.input-pick
              input(type='checkbox' name='room' value='3К')
              span 3К
            label.input-pick
              input(type='checkbox' name='room' value='4К+')
              span 4К+


        .search__option.search__floor
          span Поверх:
          input(type='number' name='floorFrom' placeholder='від').input
          input(type='number' name='floorTo' placeholder='до').input
        .search__option.search__square
          span Площа:
          input(type='number' name='squareFrom' placeholder='від').input
          input(type='number' name='squareTo' placeholder='до').input
        .search__option.search__price
          span Ціна:
          input(type='number' name='priceFrom' placeholder='від').input
          input(type='number' name='priceTo' placeholder='до').input
          select(name='currencyForm')
            option UAH
            option USD
            option EUR
        .search__option.search__terms
          span Термін здачі:
          select(name='termsForm')
            option до 2021 IV квартал
            option до 2020 II квартал
            option до 2022 V квартал

      .search__block.block-search.filter__block
        .block-search__header
          h4.block-search__title.title-4 Житловий комплекс
          .block-search__control
            a(href='#').select-all.link.green Обрати всі
            a(href='#').reset-all.link.red Скинути
        .block-search__body
          label.input-checkbox
            input(type='checkbox' name='building' value='Містечко липки')
            span Містечко липки
          label.input-checkbox
            input(type='checkbox' name='building' value='Опришківська слобода')
            span Опришківська слобода
          label.input-checkbox
            input(type='checkbox' name='building' value='Містечко липки')
            span Містечко липки
          label.input-checkbox
            input(type='checkbox' name='building' value='Житловий комплекс Sttk#3')
            span Житловий комплекс Sttk#3
          label.input-checkbox
            input(type='checkbox' name='building' value='Містечко липки')
            span Містечко липки
          label.input-checkbox
            input(type='checkbox' name='building' value='Містечко липки')
            span Містечко липки
          label.input-checkbox
            input(type='checkbox' name='building' value='Містечко липки')
            span Містечко липки
          label.input-checkbox
            input(type='checkbox' name='building' value='Містечко паркове')
            span Містечко паркове
          label.input-checkbox
            input(type='checkbox' name='building' value='ЖК Park Residence')
            span ЖК Park Residence
          label.input-checkbox
            input(type='checkbox' name='building' value='Мілленіум')
            span Мілленіум
          label.input-checkbox
            input(type='checkbox' name='building' value='Містечко липки')
            span Містечко липки
          label.input-checkbox
            input(type='checkbox' name='building' value='Містечко липки')
            span Містечко липки
          label.input-checkbox
            input(type='checkbox' name='building' value='Опришківська слобода')
            span Опришківська слобода
          label.input-checkbox
            input(type='checkbox' name='building' value='Містечко липки')
            span Містечко липки
          label.input-checkbox
            input(type='checkbox' name='building' value='ЖК Park Residence')
            span ЖК Park Residence
          label.input-checkbox
            input(type='checkbox' name='building' value='Опришківська слобода')
            span Опришківська слобода
          label.input-checkbox
            input(type='checkbox' name='building' value='Опришківська слобода')
            span Опришківська слобода
          label.input-checkbox
            input(type='checkbox' name='building' value='Мілленіум')
            span Мілленіум



      .search__block.block-search.filter__block
        .block-search__header
          h4.block-search__title.title-4 Район
          .block-search__control
            a(href='#').select-all.link.green Обрати всі
            a(href='#').reset-all.link.red Скинути
        .block-search__body
          label.input-checkbox
            input(type='checkbox' name='district' value='Містечко липки')
            span Містечко липки
          label.input-checkbox
            input(type='checkbox' name='district' value='Опришківська слобода')
            span Опришківська слобода
          label.input-checkbox
            input(type='checkbox' name='district' value='Містечко липки')
            span Містечко липки
          label.input-checkbox
            input(type='checkbox' name='district' value='Житловий комплекс Sttk#3')
            span Житловий комплекс Sttk#3
          label.input-checkbox
            input(type='checkbox' name='district' value='Містечко липки')
            span Містечко липки
          label.input-checkbox
            input(type='checkbox' name='district' value='Містечко липки')
            span Містечко липки
          label.input-checkbox
            input(type='checkbox' name='district' value='Містечко липки')
            span Містечко липки
          label.input-checkbox
            input(type='checkbox' name='district' value='Містечко паркове')
            span Містечко паркове
          label.input-checkbox
            input(type='checkbox' name='district' value='ЖК Park Residence')
            span ЖК Park Residence
          label.input-checkbox
            input(type='checkbox' name='district' value='Мілленіум')
            span Мілленіум
          label.input-checkbox
            input(type='checkbox' name='district' value='Містечко липки')
            span Містечко липки
          label.input-checkbox
            input(type='checkbox' name='district' value='Містечко липки')
            span Містечко липки
          label.input-checkbox
            input(type='checkbox' name='district' value='Опришківська слобода')
            span Опришківська слобода
          label.input-checkbox
            input(type='checkbox' name='district' value='Містечко липки')
            span Містечко липки
          label.input-checkbox
            input(type='checkbox' name='district' value='ЖК Park Residence')
            span ЖК Park Residence
          label.input-checkbox
            input(type='checkbox' name='district' value='Опришківська слобода')
            span Опришківська слобода
          label.input-checkbox
            input(type='checkbox' name='district' value='Опришківська слобода')
            span Опришківська слобода
          label.input-checkbox
            input(type='checkbox' name='district' value='Мілленіум')
            span Мілленіум
      button(type='submit').button-3
        span Шукати
        +icon('search-white')