section.section.page-block
  .section__container.container
    ul.section__breadcrumbs.breadcrumbs
      li.breadcumbs__item
        a(href='#') Головна
      li.breadcumbs__item
        a(href='#') Забудовники
      li.breadcumbs__item
        a(href='#') Ярковиця
      li.breadcumbs__item
        a(href='#') Містечко Липки Секція І
    .section__title-block
      h1.title Містечко Липки Секція І
      ul.section__menu.visible
        li.visible
          a(href='#').menu-opener
            +icon('settings')
          ul.section__submenu
            li
              a(href='#') Редагувати інформацію
            li
              a(href='#') Редагувати фотогалерею
            li
              a(href='#') Додати звіт
            li.line
              a(href='#') додати підїзд
            li
              a(href='#') показати усім ріелторам
            li.line
              a(href='#') Закрити від усіх ріелторів
            li
              a(href='#').green активувати
            li
              a(href='#').red Деактивувати
        li.visible
          a(href='#apartment-table')#table
            +icon('table')
        li.visible
          a(href='#').menu-opener
            +icon('share')
          ul.section__submenu
            li
              span Поділитися
              .section__social
                a(href='#')
                  +icon('telegram')
                a(href='#')
                  +icon('viber')
                a(href='#')
                  +icon('whatsapp')
                a(href='#')
                  +icon('messenger')
                a(href='#')
                  +icon('instagram')
  .section__wrapper
    .section__container.container
      .section__slider-block
        .slider-section-single.section__slider#lightgallery
          .section__slider__item
            div.item-gallery(data-src='../img/section-lupky/01.jpeg' data-sub-html='text')
              +image('../img/section-lupky/01.jpeg')
          .section__slider__item
            div.item-gallery(data-src='../img/section-lupky/02.jpeg' data-sub-html='text')
              +image('../img/section-lupky/02.jpeg')
          .section__slider__item
            div.item-gallery(data-src='../img/section-lupky/03.jpeg' data-sub-html='text')
              +image('../img/section-lupky/03.jpeg')
          .section__slider__item
            div.item-gallery(data-src='../img/section-lupky/04.jpeg' data-sub-html='text')
              +image('../img/section-lupky/04.jpeg')
          .section__slider__item
            div.item-gallery(data-src='../img/section-lupky/05.jpeg' data-sub-html='text')
              +image('../img/section-lupky/05.jpeg')
          .section__slider__item
            div.item-gallery(data-src='../img/section-lupky/01.jpeg' data-sub-html='text')
              +image('../img/section-lupky/01.jpeg')
          .section__slider__item
            div.item-gallery(data-src='../img/section-lupky/02.jpeg' data-sub-html='text')
              +image('../img/section-lupky/02.jpeg')

        .slider-section-nav.section__slider
          div(data-item='0').section__slider__item
            +image('../img/section-lupky/01.jpeg')
          div(data-item='1').section__slider__item
            +image('../img/section-lupky/02.jpeg')
          div(data-item='2').section__slider__item
            +image('../img/section-lupky/03.jpeg')
          div(data-item='3').section__slider__item
            +image('../img/section-lupky/04.jpeg')
          div(data-item='4').section__slider__item
            +image('../img/section-lupky/05.jpeg')
          div(data-item='5').section__slider__item
            +image('../img/section-lupky/01.jpeg')
          div(data-item='6').section__slider__item
            +image('../img/section-lupky/02.jpeg')

  .section__description.description-section.page-block
    .section__container.container
      .description-section__body
        .description-section__tabs.tabs-section
          .tabs-section__wrapper
            ul.tabs
              li.tab
                a(href='#about').active Про комплекс
              li.tab
                a(href='#options') Характеристики
              li.tab
                a(href='#course').tab-slider Хід будівництва

          #about.tabs-section__content
            p Життя в містечку «Липки» - це розумний вибір людей, які знаються на перевагах міського життя поблизу затишних місць відпочинку. Чудове розташування, розвинена інфраструктура, раціональне планування помешкань, підземний паркінг та безумовна надійність забудовника – в поєднанні з вигідною ціною – робить цей вибір по-справжньому вдалим. Місце, де зручно мешкати і відпочивати. Парк з підсвіткою – для тих, хто любить безпечні нічні прогулянки. Бато паркомісць, охорона та відеонагляд: безпека – понад усе! Авто у безпеці, а діти в першу чергу. Велика увага у містечку «Липки» приділена плануванню всіх без винятку житлових та комерційних приміщень. Тут нема зайвих квадратних метрів – натомість у кожній квартирі створено достатній життєвий простір і багато світла. Використання сучасних матеріалів забезпечують не лише комфорт та затишок, але й роблять проживання здоровим та емоційно приємним. Все продумано. Все раціонально.  Життя в містечку «Липки» - це розумний вибір людей, які знаються на перевагах міського життя поблизу затишних місць відпочинку. Чудове розташування, розвинена інфраструктура, раціональне планування помешкань, підземний паркінг та безумовна надійність забудовника – в поєднанні з вигідною ціною – робить цей вибір по-справжньому вдалим. Місце, де зручно мешкати і відпочивати. Парк з підсвіткою – для тих, хто любить безпечні нічні прогулянки. Бато паркомісць, охорона та відеонагляд: безпека – понад усе! Авто у безпеці, а діти в першу чергу. Велика увага у містечку «Липки» приділена плануванню всіх без винятку житлових та комерційних приміщень. Тут нема зайвих квадратних метрів – натомість у кожній квартирі створено достатній життєвий простір і багато світла. Використання сучасних матеріалів забезпечують не лише комфорт та затишок, але й роблять проживання здоровим та емоційно приємним. Все продумано. Все раціонально.
            .tabs-section__btn
              +icon('collapse')


          #options.tabs-section__content
            .options
              div
                h4.options__title Загальна інформація
                ul
                  li
                    span Район:
                    span ценрт
                  li
                    span Клас житла:
                    span комфорт
                  li
                    span К-сть поверхів:
                    span 10
                  li
                    span К-сть підїздів:
                    span 40
              div
                h4.options__title Локація
                ul
                  li
                    span Район:
                    span ценрт
                  li
                    span Клас житла:
                    span комфорт
                  li
                    span К-сть поверхів:
                    span 10
                  li
                    span К-сть будинків:
                    span 11
                  li
                    span К-сть підїздів:
                    span 40
                  li
                    span К-сть квартир:
                    span 150
                  li
                    span Ліфт:
                    span якісний безшумний ліфт якісний безшумний ліфт якісний безшумний ліфт якісний безшумний ліфт
                  li
                    span Ціна за кв.м. (від - до):
                    span 13000
            .tabs-section__btn
              +icon('collapse')



          #course.tabs-section__content
            .course-block
              .course-block__header
                .course-block__info
                  span.course-block__label Звітність за
                  span.course-block__date 23.07.2020
                .course-block__controls.visible
                  a(href='#').course-block__btn.button-2.visible Редагувати
                    +icon('edit')
                  a(href='#').course-block__btn.button-2.visible Редагувати фото
                    +icon('edit-photo')
              .course-block__content
                .course-block__slider.course-block-slider
                  .course-block-slider__item
                    div.item-gallery(data-src='https://www.youtube.com/watch?v=pU0RAQWM4SI' data-sub-html='text' )
                      iframe(type="text/html" width="100%" height='100%' autoplay=0 src="https://www.youtube.com/embed/pU0RAQWM4SI")
                  .course-block-slider__item
                    div.item-gallery(data-src='../img/section-lupky/04.jpeg' data-sub-html='text')
                      +image('../img/section-lupky/04.jpeg')
                  .course-block-slider__item
                    div.item-gallery(data-src='../img/section-lupky/02.jpeg' data-sub-html='text')
                      +image('../img/section-lupky/02.jpeg')


            .course-block
              .course-block__header
                .course-block__info
                  span.course-block__label Звітність за
                  span.course-block__date 23.07.2020
                .course-block__controls.visible
                  a(href='#').course-block__btn.button-2.visible Редагувати
                    +icon('edit')
                  a(href='#').course-block__btn.button-2.visible Редагувати фото
                    +icon('edit-photo')
              .course-block__content
                .course-block__slider.course-block-slider
                  .course-block-slider__item
                    div.item-gallery(data-src='../img/section-lupky/03.jpeg' data-sub-html='text')
                      +image('../img/section-lupky/03.jpeg')
                  .course-block-slider__item
                    div.item-gallery(data-src='../img/section-lupky/04.jpeg' data-sub-html='text')
                      +image('../img/section-lupky/04.jpeg')
                  .course-block-slider__item
                    div.item-gallery(data-src='../img/section-lupky/02.jpeg' data-sub-html='text')
                      +image('../img/section-lupky/02.jpeg')
            .tabs-section__btn
              +icon('collapse')




        .description-section__realtor.realtor-section
          .realtor-section__card.realtor-card
            .realtor-card__photo
              +image('../img/rieltors/01.png')
            .realtor-card__info
              span.realtor-card__depart Відділ продажу
              h4.realtor-card__name Роман Сурмачевський
              a(href='tel:+380633565234').realtor-card__phone 0669159819

          .realtor-section__block#realtor-task
            .realtor-section__icon
              +icon('calendar')
            .realtor-section__text
              h4.realtor-section__title.title-4 IV квартал 2020 року
              span.realtor-section__label Запланована здача
          .realtor-section__block#developer
            .realtor-section__icon
              +icon('safety')
            .realtor-section__text
              h4.realtor-section__title Ярковиця
              span.realtor-section__label Забудовник
          .realtor-section__block#adress-building
            .realtor-section__icon
              +icon('locate')
            .realtor-section__text
              h4.realtor-section__title вул. Мазепи, 164
              span.realtor-section__label Адреса будинку



  .section__table.table-block
    .section__container.container
      h2.title Оберіть квартиру
      .table-block__filter.filter-table
        ul.input-pick.filter-table__currency
          li#uah uah
          li#usd.active usd
          li#eur eur
        .filter-table__info.filter-table__update
          span.filter-table__label Останнє оновлення
          span.filter-table__value 23.07.2020
        .filter-table__info.filter-table__free
          span.filter-table__label Вільні квартири
          span.filter-table__value 35
        ul.input-pick.filter-table__rooms
          li 1К
          li.active 2К
          li 3К
          li 4К+


      .table-block__table.table
        .table__wrapper
          .table__header(style='width:1475px')
            .table__cell.table__menu
              +icon('table-menu')
            .table__cell(style='grid-column:span 4')
              span під'їзд 1
            .table__cell(style='grid-column:span 4')
              span під'їзд 2
            .table__cell(style='grid-column:span 4')
              span під'їзд 3
            .table__cell
              span 2к
            .table__cell
              span 1к
            .table__cell
              span 2к
            .table__cell
              span 2к
            .table__cell
              span 2к
            .table__cell
              span  1к
            .table__cell
              span 2к
            .table__cell
              span 2к
            .table__cell
              span 2к
            .table__cell
              span 1к
            .table__cell
              span 2к
            .table__cell
              span 2к

          .table__body(style='width:1475px; height:280px')
            .table__cell.table__header-row
              span Поверх 9
            .table__cell
            .table__cell.active
              span.table__square 64.50 м2
              span.table__price 837 000 $
              span.table__type Дворівнева
              span.table__status Переуступка
            .table__cell.booked
              span.table__square 64.50 м2
              span.table__price 837 000 $
              span.table__type Дворівнева
              span.table__status Завдаток
            .table__cell.active
              span.table__square 64.50 м2
              span.table__price 837 000 $
              span.table__type Дворівнева
            .table__cell
            .table__cell.booked
              span.table__square 64.50 м2
              span.table__price 837 000 $
              span.table__type Дворівнева
              span.table__status Завдаток
            .table__cell
            .table__cell.active.inactive
              span.table__square 64.50 м2
              span.table__price 837 000 $
              span.table__type Дворівнева
              span.table__status Переуступка
            .table__cell.active
              span.table__square 64.50 м2
              span.table__price 837 000 $
              span.table__type Дворівнева
            .table__cell
            .table__cell
            .table__cell.soled
              span.table__square 64.50 м2
              span.table__price 837 000 $
              span.table__type Дворівнева
              span.table__status Завдаток
            .table__cell.table__header-row
              span Поверх 8
            .table__cell
            .table__cell.soled
              span.table__square 64.50 м2
              span.table__price 837 000 $
              span.table__type Дворівнева
              span.table__status Завдаток
            .table__cell
            .table__cell
            .table__cell.booked.inactive
              span.table__square 64.50 м2
              span.table__price 837 000 $
              span.table__type Дворівнева
              span.table__status Завдаток
            .table__cell
            .table__cell
            .table__cell
            .table__cell.active.inactive
              span.table__square 64.50 м2
              span.table__price 837 000 $
              span.table__type Дворівнева
              span.table__status Переуступка
            .table__cell
            .table__cell.soled
              span.table__square 64.50 м2
              span.table__price 837 000 $
              span.table__type Дворівнева
              span.table__status Завдаток
            .table__cell
            .table__cell.table__header-row
              span Поверх 7
            .table__cell.soled
              span.table__square 64.50 м2
              span.table__price 837 000 $
              span.table__type Дворівнева
              span.table__status Завдаток
            .table__cell
            .table__cell.active
              span.table__square 64.50 м2
              span.table__price 837 000 $
              span.table__type Дворівнева
              span.table__status Переуступка
            .table__cell
            .table__cell.soled
              span.table__square 64.50 м2
              span.table__price 837 000 $
              span.table__type Дворівнева
              span.table__status Завдаток
            .table__cell
            .table__cell.booked
              span.table__square 64.50 м2
              span.table__price 837 000 $
              span.table__type Дворівнева
              span.table__status Завдаток
            .table__cell
            .table__cell
            .table__cell.active
              span.table__square 64.50 м2
              span.table__price 837 000 $
              span.table__type Дворівнева
            .table__cell
            .table__cell
            .table__cell.table__header-row
              span Поверх 6
            .table__cell
            .table__cell.booked
              span.table__square 64.50 м2
              span.table__price 837 000 $
              span.table__type Дворівнева
              span.table__status Завдаток
            .table__cell.soled
              span.table__square 64.50 м2
              span.table__price 837 000 $
              span.table__type Дворівнева
              span.table__status Завдаток
            .table__cell.active
              span.table__square 64.50 м2
              span.table__price 837 000 $
              span.table__type Дворівнева
              span.table__status Переуступка
            .table__cell.active
              span.table__square 64.50 м2
              span.table__price 837 000 $
              span.table__type Дворівнева
              span.table__status Переуступка
            .table__cell.active
              span.table__square 64.50 м2
              span.table__price 837 000 $
              span.table__type Дворівнева
              span.table__status Переуступка
            .table__cell
            .table__cell
            .table__cell
            .table__cell.booked
              span.table__square 64.50 м2
              span.table__price 837 000 $
              span.table__type Дворівнева
              span.table__status Завдаток
            .table__cell
            .table__cell
            .table__cell.table__header-row
              span Поверх 5
            .table__cell.active
              span.table__square 64.50 м2
              span.table__price 837 000 $
              span.table__type Дворівнева
            .table__cell
            .table__cell
            .table__cell.active
              span.table__square 64.50 м2
              span.table__price 837 000 $
              span.table__type Дворівнева
              span.table__status Переуступка
            .table__cell
            .table__cell
            .table__cell
            .table__cell.booked
              span.table__square 64.50 м2
              span.table__price 837 000 $
              span.table__type Дворівнева
              span.table__status Завдаток
            .table__cell.booked
              span.table__square 64.50 м2
              span.table__price 837 000 $
              span.table__type Дворівнева
              span.table__status Завдаток
            .table__cell
            .table__cell
            .table__cell.active
              span.table__square 64.50 м2
              span.table__price 837 000 $
              span.table__type Дворівнева

