section.tape-events
  .tape-events__container.container
    ul.tape-events__breadcrumbs.breadcrumbs
      li.breadcumbs__item
        a(href='#') Головна
      li.breadcumbs__item
        a(href='#') АН Тест
      li.breadcumbs__item
        a(href='#') Стрічка подій
    .page__title-block
      h1.title Стрічка подій
      ul.page__menu.visible
        li.visible
          a(href='#').menu-opener
            +icon('settings')
          ul.page__submenu
            li
              a(href='#booking-room').modal-trigger Забронювати галіму квартиру
            li
              a(href='#') Редагувати інформацію
            li
              a(href='#') Редагувати фотогалерею
            li
              a(href='#') Додати звіт
            li.line
              a(href='#') додати підїзд
            li
              a(href='#') показати усім ріелторам
            li.line
              a(href='#') Закрити від усіх ріелторів
            li
              a(href='#').green активувати
            li
              a(href='#').red Деактивувати

    h2.title-2 Ріелтор Іван Іваноивич
    .tape-events__tapes.tapes.page-block
      .tape
        .tape__block
          span 14.07.2020
        .tape__block
          span 18:00
        .tape__block
          span Іван Іванович
        .tape__block.tape__activity
          span здійснив
          span.action показ
          span в
          a(href='#') “ЖК Кришталеві вежі”
      .tape
        .tape__block
          span 17.09.2020
        .tape__block
          span 15:00
        .tape__block
          span Іван Іванович
        .tape__block.tape__activity
          span здійснив
          span.action бронювання
          span в
          a(href='#') “ЖК Кришталеві вежі”
      .tape
        .tape__block
          span 18.10.2020
        .tape__block
          span 15:00
        .tape__block
          span Іван Іванович
        .tape__block.tape__activity
          span здійснив
          span.action показ
          span в
          a(href='#') “ЖК Кришталеві вежі”
      .tape
        .tape__block
          span 17.09.2020
        .tape__block
          span 15:00
        .tape__block
          span Іван Іванович
        .tape__block.tape__activity
          span здійснив
          span.action бронювання
          span в
          a(href='#') “ЖК Кришталеві вежі”
      .tape
        .tape__block
          span 17.09.2020
        .tape__block
          span 15:00
        .tape__block
          span Іван Іванович
        .tape__block.tape__activity
          span здійснив
          span.action продаж
          span в
          a(href='#') “ЖК Кришталеві вежі”


