section.rieltors
  .rieltors__container.container
    ul.section__breadcrumbs.breadcrumbs
      li.breadcumbs__item
        a(href='#') Головна
      li.breadcumbs__item
        a(href='#') Всі користувачі
    .page__title-block
      h1.title Всі користувачі
      ul.page__menu.visible
        li.visible
          a(href='#').menu-opener
            +icon('settings')
          ul.page__submenu
            li
              a(href='#booking-room').modal-trigger Забронювати галіму квартиру
            li
              a(href='#') Редагувати інформацію
            li
              a(href='#') Редагувати фотогалерею
            li
              a(href='#') Додати звіт
            li.line
              a(href='#') додати підїзд
            li
              a(href='#') показати усім ріелторам
            li.line
              a(href='#') Закрити від усіх ріелторів
            li
              a(href='#').green активувати
            li
              a(href='#').red Деактивувати

    h2.title-2 Чекають на підтвердження статусу
    .rieltors__table.table-rieltors.page-block
      table.table-rieltors__body
        tr
          th
            span Електронна адреса
          th
            span Ріелтор
          th
            span Агенство нерухомості
          th
            span Телефон
          th
            span ID
          th
            span Статус
          th
            span Видалити

        tr
          td
            span mylytchuk@gmail.com
          td
            span Сурмачевський Володимир
          td
            span Не вибрано
            a(href='#')
              +icon('edit-table-icon')
          td
            a(href='tel:+380501319839') +38 050 131 98 39
          td
            span 123456
          td
            a(href='#')
              +icon('edit-table-icon')
          td
            a(href='#')
              +icon('close-table-icon')
        tr
          td
            span misha59247@icloud.com
          td
            span Михайло Гринюк
          td
            span Не вибрано
            a(href='#')
              +icon('edit-table-icon')
          td
            a(href='tel:380957575589') 38095 757 55 89
          td
            span 5
          td
            a(href='#')
              +icon('edit-table-icon')
          td
            a(href='#')
              +icon('close-table-icon')
        tr
          td
            span m.urahovskav09@gmail.com
          td

          td
            span Не вибрано
            a(href='#')
              +icon('edit-table-icon')
          td
            a(href='tel:0953508797') 0953508797
          td
            span 35
          td
            a(href='#')
              +icon('edit-table-icon')
          td
            a(href='#')
              +icon('close-table-icon')
        tr
          td
            span misha59247@icloud.com
          td
            span Михайло Гринюк
          td
            span Не вибрано
            a(href='#')
              +icon('edit-table-icon')
          td
            a(href='tel:380957575589') 38095 757 55 89
          td
            span 5
          td
            a(href='#')
              +icon('edit-table-icon')
          td
            a(href='#')
              +icon('close-table-icon')
        tr
          td
            span m.urahovskav09@gmail.com
          td
            span Влада Мупаховська
          td
            span Не вибрано
            a(href='#')
              +icon('edit-table-icon')
          td
            a(href='tel:0953508797') 0953508797
          td
            span 245
          td
            a(href='#')
              +icon('edit-table-icon')
          td
            a(href='#')
              +icon('close-table-icon')



    h2.title-2 Підтверджені користувачі
    .rieltors__table.table-rieltors.page-block
      table.table-rieltors__body
        tr
          th
            span Електронна адреса
          th
            span Ріелтор
          th
            span Агенство нерухомості
          th
            span Телефон
          th
            span ID
          th
            span Статус
          th
            span Доступи

        tr
          td
            span mylytchuk@gmail.com
          td
            span Сурмачевський Володимир
          td
            span Не вибрано
            a(href='#')
              +icon('edit-table-icon')
          td
            a(href='tel:+380501319839') +38 050 131 98 39
          td
            span 123456
          td
            a(href='#')
              +icon('edit-table-icon')
          td
            a(href='#')
              +icon('edit-table-icon')
        tr
          td
            span misha59247@icloud.com
          td
            span Михайло Гринюк
          td
            span Не вибрано
            a(href='#')
              +icon('edit-table-icon')
          td
            a(href='tel:380957575589') 38095 757 55 89
          td
            span 5
          td
            a(href='#')
              +icon('edit-table-icon')
          td
            a(href='#')
              +icon('edit-table-icon')
        tr
          td
            span m.urahovskav09@gmail.com
          td
            span Влада Мупаховська
          td
            span Не вибрано
            a(href='#')
              +icon('edit-table-icon')
          td
            a(href='tel:0953508797') 0953508797
          td
            span 35
          td
            a(href='#')
              +icon('edit-table-icon')
          td
            a(href='#')
              +icon('edit-table-icon')

