include particles/_mixins
include particles/_head
body
  .overlay
  .wrapper
    include particles/_header
    .page
      //include particles/_section
      include particles/_flat

    include particles/_footer


  script(src='js/vendors.script.js')
  script(src='js/script.js')